{% extends "layouts/main.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">You cannot use this service</h1>
     <!-- {{ govukButton({
        text: "Appoint new director",
        href: "add/name?type=add"
      }) }} -->
       <p class="govuk-body">You must be a relevant officer to register an authorised agent.</p>

        <p>You will need to ask the relevant officer to apply to register the agent. <a href="guidance-ACSPs#how-to-verify">Read the guidance to check who can be a relevant officer for an agent.</a></p>


      
    </div>
  </div>
{% endblock %}
