{% extends "layouts/main.html" %}
{% block pageTitle %}

What is the correspondence address? -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="acsp-address-correspondance" method="post">

        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>

        {# Radio options to select the correspondence address #}
        {{ govukRadios({
          name: "correspondence-address",
          fieldset: {
            legend: {
              text:"What is the correspondence address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "registered-office-address",
              text: "15 New Road, Cardiff, Wales CF5 1BR",
              hint: {
                text: "This is the company's registered office address"
              }
            },
            {
              value: "different-address",
              text: "A different address"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
