{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to prove your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="before-idv" method="post">


      <h1 class="govuk-heading-l">
        You need to verify your identity
      </h1>


       <!-- Content previously on this page. 

        Review content alongside the start page
      -->

      <h2 class="govuk-heading-m">
        Step 1: You need to verify your identity
      </h2>

      <!-- <div class="ch-info-panel">
        <h2 class="govuk-panel__title">
         <img src="/public/images/identity-alt.png" alt="" height="50"> -->


            <p class="govuk-body">As a sole trader, you must verify your identity for Companies House before you can use this service. </p>
          

            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start" target="blank">
              Verify your identity for Companies House (opens in a new tab)</a>.
            </p>

      


      <h2 class="govuk-heading-m govuk-!-padding-top-5">
        Step 2: Start the registration  again 
      </h2>

        <p class="govuk-body">When you've successfully verified, you will need to <a href="start-page" class="govuk-link"> return to this service to apply to register as an authorised agent </a>. 
        </p>

      </form>

    </div>
  </div>

{% endblock %}
