{% set title = "Which director are you?" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="check-director-details" method="post">

        <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>

        <h1 class="govuk-heading-l">Check your details </h1>

        {{ govukSummaryList({
          card: {
            title: {
              text: "James Morris"
            }
            
          },
          rows: [
            {
              key: {
                text: "Date of birth"
              },
              value: {
                html: "May 1977"
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                html: "British"
              }
            },
            {
              key: {
                text: "Appointed on"
              },
              value: {
                html: "16 December 2015"
              }
            },
            {
              key: {
                text: "***Correspondence address***"
              },
              value: {
                html: "12 London Place<br> London <br>SE77 8GG"
              }
            },
            {
              key: {
                text: "**Home address***"
              },
              value: {
                html: "56 Hope Street <br>
                Cardiff<br>
                CF26 JOH"
              }
            }
          ]
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading govuk-!-margin-top-2">
              Are your details correct?
            </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="director-details-correct" name="director-details-correct" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="director-details-correct">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="director-details-correct-2" name="director-details-correct" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="director-details-correct-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
