{% set title = "Which director are you?" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="check-director-details" method="post">

        <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>

        <h1 class="govuk-heading-l">Check your details </h1>

        {{ govukSummaryList({
          card: {
            title: {
              text: "James Morris"
            }
            
          },
          rows: [
            {
              key: {
                text: "Date of birth"
              },
              value: {
                html: "May 1977"
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                html: "British"
              }
            },
            {
              key: {
                text: "Appointed on"
              },
              value: {
                html: "16 December 2015"
              }
            },
            {
              key: {
                text: "***Correspondence address***"
              },
              value: {
                html: "12 London Place<br> London <br>SE77 8GG"
              }
            },
            {
              key: {
                text: "**Home address***"
              },
              value: {
                html: "56 Hope Street <br>
                Cardiff<br>
                CF26 JOH"
              }
            }
          ]
        }) }}

        {{ govukInsetText({
          text: "*If the details are incorrector you will need to make an update to the directors details --- using the CH01.*"
        }) }} 


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
