{% set title = "Which director are you?" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="director-selection" method="post">

        <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>

        {{ govukRadios({
          name: "sign-in",
          fieldset: {
            legend: {
              text: "Which director are you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "dir1",
              text: "James Morris",
              hint: {
                text: "Born May 1977."
              }
            },
            {
              value: "dir2",
              text: "Tomos South",
              hint: {
                text: "Born March 2007."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
