{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Register an authorised agent: application approved",
        html: buttonHref
      }) }}
    <!--  <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Company number</th>
            <td class="govuk-table__cell">00445790</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Company name</th>
            <td class="govuk-table__cell"> MORRIS ACCOUNTING LTD </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name </th>
            <td class="govuk-table__cell">James Morris </td>
          </tr>
        </tbody>
      </table> -->


      <p class="govuk-body">We have approved your application and registered MORRIS ACCOUNTING LTD as a Companies House authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).</p>

      <div class="highlight-box">

      <p class="govuk-body">The authorised agent number for MORRIS ACCOUNTING LTD is: <strong>06254821</strong></p>

      <p class="govuk-body">Keep the number secure and do not share it with anyone outside of your organisation. You will need this for paper filings.</p>


      </div>
      <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
      <p class="govuk-body">When you <a href="sign-in" class="govuk-link govuk-link--no-visited-state">sign in to your Companies House account</a>, you’ll be able to access services for authorised agents. </p>

      <h3 class="govuk-heading-s">Add or remove members who work for the authorised agent</h2>
      
      <p>Once added, members can sign in to their account to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>form companies and registrable partnerships on behalf of clients</li>
        <li>file on behalf of clients</li>
        <li>verify someone's identity</li>
      </ul> 


      <h3 class="govuk-heading-s">Update the authorised agent’s details </h2>
      <p>You must provide details about any changes to the agent's Anti-Money Laundering (AML) registration. </p>



      <h3 class="govuk-heading-s">Tell us you have verified someone’s identity </h2>
      <p>You do not have to offer identity verification to your clients. </p>

      <p>If you choose to verify someone’s identity for the Companies House register, you must keep a copy of any documents you use to check the person’s identity. </p>

      <p>You’ll need to keep these while you have a working relationship and for 5 years after. </p>


      <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p>
      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">If you have a question about your submission, you can contact us.</p>
      <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>

      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
        </li>
      </ul>
    </div>
    </div>


  </div>
</div>
{% endblock %}
