{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start - Verify your identity 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
Applying to register as an authorised agent </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#service">
               What this service is for
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#verify-screener">
               What an authorised agent is
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#how-to-verify">
                Who can use this service
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#acsp-guidance">
                What information you need to submit
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="verify-through-acsp">
                What happens after an authorised agent is registered
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#identity-checks">
              Identity verification checks
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      

      <h2 id="service" class="govuk-heading-m">What this service is for </h2>

      <p>Use this service to apply to register as an authorised agent with Companies House. Authorised agents are also known as Authorised Corporate Service Providers (ACSPs).</p>
 
  <p>Agents must register with Companies House to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>form companies or registrable partnerships on behalf of clients</li>
        <li>file on behalf of clients</li>
        <li>verify someone's identity with Companies House</li>
      </ul>



      <h2 id="how-to-verify" class="govuk-heading-m">Who can use this service </h3>
      
      <p>To register as an authorised agent, your business must be:</p>
         <ul class="govuk-list govuk-list--bullet">
            <li>registered in the UK</li>
            <li>registered with an Anti-Money Laundering (AML) supervisory body</li>
          </ul>


      <p>You'll need to be a relevant officer for the business to use this service. This means you are one of the following:</p>  

      <ul class="govuk-list govuk-list--bullet">
        <li>director</li>
        <li>general partner</li>
        <li>partner</li>
        <li>sole trader</li>
      </ul>


      <h2 id="acsp-guidance" class="govuk-heading-m">What information you need to submit</h3>

<!-- OPTION 1-->
  <!--
      <p>You will need the:  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>business name, or your own name if you're a sole trader</li>
        <li>UK registered address, or your correspondence address if you're a sole trader</li>
        <li>names of all AML supervisory bodies the business is registered with </li>
        <li>AML membership numbers</li>
      </ul>


      <div class="govuk-inset-text">
These details must be the same as those held by the AML supervisory bodies.
</div>

     
     <p>If you’re registering a limited company, limited liability partnership (LLP), limited partnership or Scottish limited partnership (SLP), you'll also need:</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>the company number</li>
        <li>the company authentication code</li>
      </ul>



       <h3 class="govuk-heading-s">If you are a sole trader</h3>

        <p>You will need to <a href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start">verify your identity with Companies House</a> before you can use this service.</p>

      <p>When you verify, you'll get a Companies House user ID. You will need your user ID to apply to register as an authorised agent.</p>

      <p>You'll also need to tell us your:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>date of birth</li>
                <li>nationality</li>
        </ul> -->

<!-- OPTION 2 -->


<p>You will need to tell us the:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>names of all AML supervisory bodies the business is registered with</li>
                <li>AML membership numbers</li>
              </ul>

<p>We will confirm your AML registration with your supervisory body. You should check they hold the correct details about your business before you apply.</p>


     <!--  <h3 class="govuk-heading-s">If you're registering a limited company, limited liability partnership (LLP), limited partnership or Scottish limited partnership (SLP)</h3> -->

       <h3 class="govuk-heading-s">If your business is registered with Companies House</h3>

       <p>You will need:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>the business name</li>
                <li>the regsitered office address</li>
                <li>the company number</li>
                <li>the company authentication code</li>
              </ul>


   <!--   <p> You can give an email address for correspondence if it's different to the one you use to sign in to Companies House.</p> -->

       <h3 class="govuk-heading-s">If your business is not registered with Companies House</h3>

<p>You will need:</p>

       <h3 class="govuk-heading-s">If you are a sole trader</h3>

   <div class="ch-info-panel">
        
        <div class="govuk-panel__body">


<p class="govuk-body govuk-!-margin-bottom-1">You'll need to <a href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start">verify your identity for Companies House (opens in a new tab)</a> before you can apply to register as an authorised agent.</p>
        </div>
      </div>



<p>Once you've verified, you'll need to give your:</p>


              <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>date of birth</li>
                <li>nationality</li>
                <li>correspondence address</li>
                <li>email address</li>
              </ul>


   

    <h2 id="verify-through-acsp" class="govuk-heading-m">What happens after the authorised agent is registered</h2>

      <p>We’ll email you the authorised agent number. You should keep the number secure and must not share it with anyone outside of your organisation. You will need to use the authorised agent number for paper filings. </p>

      <p>You'll be able to sign in to your Companies House account to access online services for authorised agents.</p>


       <h3 id="identity-checks" class="govuk-heading-s">Add or remove members who work for the authorised agent</h3>

<p>Members can sign in or create a Companies House account to: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>form companies and registrable partnerships on behalf of clients</li>
        <li>file on behalf of clients</li>
        <li>verify someone's identity</li>
      </ul>

      <p>You can choose if you want members to be able to: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>add other members </li>
                <li>change the authorised agent details, for example the AML supervisory body </li>
            </ul>


   <h3 class="govuk-heading-s">What you'll need to do as an authorised agent</h3>


      <p>Once registered, you must provide details about any changes to the agent's AML registration. This includes if the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>agent is no longer registered with an AML supervisory body </li>
        <li>AML registration details change, for example if the agent registers with a different AML supervisory body</li>
      </ul>


       <h3 id="identity-checks" class="govuk-heading-s">Identity verification checks</h3>

      <p>Authorised agents do not have to offer identity verification to their clients. However, they will still need to register to file on behalf of companies or registrable partnerships. </p>

      <p>If you verify someone’s identity with Companies House, you must keep a copy of any documents you use to check a person’s identity. You'll need to keep these while you have a working relationship and for 5 years after. </p>

      <p>We may ask for more information on identity checks if we need to.</p>




      {{ govukButton({
        text: "Apply to register an authorised agent",
        href:"start-page"
      }) }}

      
  


      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
