{% extends "layouts/main.html" %}

{% block pageTitle %}
Shortcuts – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-l">
      {{ serviceName}}
      <span class="govuk-caption-xl">Version 5</span>
    </h1>

    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}

    <!--{{ govukWarningText({
      text: "This prototype is not being actively worked on",
      iconFallbackText: "Warning"
    }) }}-->

    <p class="govuk-body-s"><a href="https://app.mural.co/invitation/mural/companieshouse8589/1674141024210?sender=ejames5948&key=2e9f9c77-c184-43ce-92ed-39508254a70a" target=”_blank”>
      Mural flow for this version of the prototype<a/>
    </p>

    {{ govukButton({
      text: "Start now",
      classes: "govuk-button",
      href:"guidance-ACSPs"
    }) }}


  </div>
</div>

<p> Summary: Updating the flow to use the standalone journey for verifying a users identity and reviewing data for sole traders and firms.</p>


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#code">
        ACSP entry points and links
      </a>
    </li>
  </ul>

  <div class="govuk-tabs__panel" id="code">

   <!--  <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
    <ul class="govuk-list govuk-list govuk-!-margin-bottom-6">
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#earlyScreens">Early screens</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#identity">Identity</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oebemo">Overseas entity, beneficial owners and managing officers</a>
      </li>
    </ul> -->

    <h2 class="govuk-heading-m" id="earlyScreens">Early screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="guidance-ACSPs">Guidance page</a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="start-page">ACSP start page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="earlyScreens">Type of business registering</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="type-of-acsp">What type of business are you registering?</a>
        </li>

        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="type-of-business">What business sector is it in?</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="earlyScreens">Relevant officer</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="statement-relevant-officer">Relevant officer</a>
        </li>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="stop-not-relevant-officer">Stop screen - Relevant officer</a>
        </li>
      </ul>


      <h2 class="govuk-heading-m" id="verify">Sole trader</h2>


      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="sign-in">Sign in</a>
        </li>

        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="sign-in">Do you have a Companies House user ID?</a>
        </li>

        <!-- <li>
          <a class="govuk-list govuk-link--no-visited-state" href="before-idv">*** Remove CH handover page - You need to verify your identity</a>
        </li>



        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="gov-login"> **** Remove Prove your identity with GOV.UK One Login</a>
        </li>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="after-idv">**** Remove Bringing the user back to CH - You now need to tell us about the business</a>
        </li> -->
        
        <!-- forename and surname, unless they’re a peer or known by a title-->

          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="acsp-name">Name</a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="date-of-birth">Date of birth</a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="nationality">Nationality</a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="home-address"> The part of the UK in which the person is usually resident, or the country or state resident outside of the UK </a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="acsp-address">What is the registered office address?
            </a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="acsp-address-confirm">Confirm the registered office address
            </a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="acsp-address-correspondance">Correspondence email address?
            </a>
          </li>


      </ul>


      <h2 class="govuk-heading-m" id="userRole">Corporate bodies</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="sign-in">Sign in</a>
        </li>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="company-lookup">What is the company number?</a>
        </li>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="confirm-company">Confirm this is the correct company</a>
        </li>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="auth-code">Enter the company authentication code</a>
        </li>
      </ul>


      <h2 class="govuk-heading-m" id="AMLdetails">AML details</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="aml-supervisor">What is the name of the Anti-Money Laundering (AML) supervisory body?</a>
        </li>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="name-address-match-supervisor">Confirm the details are the same as those held by the AML supervisory body</a>
        </li>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="aml-number">What is the membership number?</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m"id="finalScreens">Final screens</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="terms-and-conditions">What you’ll need to do as a Companies House authorised agent</a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="check-your-answers">Check your answers before sending your application </a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="payment"> Payment</a>
          </li>
          <li>
            <a class="govuk-list govuk-link--no-visited-state" href="confirmation"> Confirmation</a>
          </li> 
        </ul>

        <h2 class="govuk-heading-m" id="verify">Emails</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="email-acsp-application-received">Email application received</a>
        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="email-acsp-registration-accepted">Email confirmation accepted </a>
        </li>

        <li>
          <a class="govuk-list govuk-link--no-visited-state" href="email-acsp-registration-rejected">Email confirmation rejected</a>
        </li>

      </ul>
    

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
        <table class="govuk-table version-history">
          <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Changes</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            </tr>
          </thead>
        </table>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    
  </div>
</div>



{% endblock %}




