{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="name" method="post">


        <h1 class="govuk-heading-l">What is your name?</h1>

        {{ govukInput({
          label: {
            text: "First name"
          },
          classes: "govuk-input--width-20",
          id: "first-name",
          name: "first-name",
          type: "first-name",
          value: first-name,
          autocomplete: "first-name",
          spellcheck: false
        }) }}


        {{ govukInput({
          label: {
            text: "Middle names (if relevant)"
          },

          classes: "govuk-input--width-20",
          id: "middle-name",
          value: middle-name,
          name: "middle-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          classes: "govuk-input--width-20",
          id: "last-name",
          name: "last-name",
          type: "last-name",
          value: last-name,
          autocomplete: "last-name",
          spellcheck: false
        }) }}
       






       

      <!--  {{ govukInput({
          label: {
            text: "What is the name of the business?",
            classes: "govuk-label--l",
            isPageHeading: true
          },

          id: "acsp-name",
          name: "acsp-name"
        }) }} -->

      <!--  {{ govukInsetText({
          text: "This must be the same as the name held by the anti-money laundering (AML) supervisory body. If the AML supervisory body has an incorrect name, you must update this before you apply. "
        }) }}  -->



        <!-- Company name rather than ACSP -->

      <!--   {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>Add content here. </p>"
        }) }} -->

       

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
