{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your nationality? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="nationality" method="post">
        

        <div class="govuk-form-group ">
          <h1 class="govuk-label-wrapper"> <label for="autocomplete-default" class="govuk-label govuk-label--l">What is your nationality?</label></h1> 

          <p class="govuk-hint">Start typing a nationality, then choose from the list.</p>
          <div id="nationality" class="autocomplete-wrapper"></div>
        </div>
      
        <div id="second-nationality" class="second-nationality">
          <div class="govuk-form-group ">
            <label for="autocomplete-default" class="govuk-label">Second nationality (if relevant)</label>
            <p class="govuk-hint">Dual citizenship (also known as dual nationality) is allowed in some countries. This means you can be a citizen of your own country and another country.</p>
            <div id="nationalityTwo" class="autocomplete-wrapper"></div>
          </div>
          
        </div>
        <div id="third-nationality" class="third-nationality" >
          <div class="govuk-form-group ">
            <label for="autocomplete-default" class="govuk-label">Third nationality (if relevant)</label>
            <p class="govuk-hint">Multiple citizenship (also known as multiple nationality) is allowed in some countries. This means you can be a citizen of your own country and two other countries.</p>
            <div id="nationalityThree" class="autocomplete-wrapper"></div>
          </div>
        </div> 
  
      
        
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/nationality-appoint.js"></script>
{% endblock %}