{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter card details  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Enter card details</h1>


      <a href="">
        <img src="/public/images/payment.png" alt="">
        </a>

     
      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
