{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="name" method="post">


        <h1 class="govuk-heading-l">What is your name?</h1>

        {{ govukInput({
          label: {
            text: "First name"
          },
          classes: "govuk-input--width-20",
          id: "first-name",
          name: "first-name",
          type: "first-name",
          value: first-name,
          autocomplete: "first-name",
          spellcheck: false
        }) }}


        {{ govukInput({
          label: {
            text: "Middle names"
          },

          classes: "govuk-input--width-20",
          id: "middle-name",
          value: middle-name,
          name: "middle-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          classes: "govuk-input--width-20",
          id: "last-name",
          name: "last-name",
          type: "last-name",
          value: last-name,
          autocomplete: "last-name",
          spellcheck: false
        }) }}
       


  
          {% if ((data['registering-as'] === "sole-trader")) %}
     <div class="govuk-inset-text">
  <p>We'll show this on the public register, unless you have a different business name that you trade under. </p>
</div>


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

          {% else %}

       

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

          {% endif %}


{% endblock %}
