{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="before-idv" method="post">


      <h1 class="govuk-heading-l">
        Verify your identity
      </h1>


       <!-- Content previously on this page. 

        Review content alongside the start page
      -->



      <!-- <div class="ch-info-panel">
        <h2 class="govuk-panel__title">
         <img src="/public/images/identity-alt.png" alt="" height="50"> -->

      <p>From XX DATE, anyone who runs or files for a company needs to verify their identity for Companies House. </p>

      <p>If you’re a sole trader, you’ll need to verify your identity before you can apply to register as an authorised agent. 
 </p>

 <p>If you’re registering another type of business, you can verify your identity before you apply, or you can choose to do this later. You may not be able to file on behalf of clients if you do not verify when you need to.</p>

     

<div class="govuk-button-group">
  <button class="govuk-button govuk-!-static-margin-top-2" data-module="govuk-button">
    Verify your identity
  </button>
</form>

  {{ govukButton({
    text: "Verify your identity later",
    href:"saved-application",
    classes: "govuk-button--secondary"
  }) }}

          
</div>


{% endblock %}
