{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of your business? – {{ serviceName }} 
{% endblock %}



{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="name-of-business" method="post">


        <!-- sole-trader -->

        {% if ((data['prototype-set-up'] === "sole-trader")) %}

        {% else %}

        {% endif %}




        {{ govukInput({
          label: {
            text: "What is the name of the business?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "businessName",
          name: "businessName",
          value:"James Morris Accounting"
        }) }}


        {% if ((data['prototype-set-up'] === "sole-trader")) %}

        <div class="govuk-inset-text">
          <p>We’ll show the business name on the public list of authorised agents.  </p>
        </div>
        

        {% else %}

        {{ govukInsetText({
          text: "This must be the same as the name held by the anti-money laundering (AML) supervisory body. If the AML supervisory body has an incorrect name, you must update this before you apply. "
        }) }}

        {% endif %}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
