{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your correspondence address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="address-correspondance-list" method="post"></form>

      {{ govukRadios({
        idPrefix: "address-service-list",
        name: "address-service-list",
        fieldset: {
          legend: {
            text: "Choose an address",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "new1",
            text: "1 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new2",
            text: "2 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new3",
            text: "3 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new4",
            text: "4 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new5",
            text: "5 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new6",
            text: "6 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new7",
            text: "7 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new8",
            text: "8 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new9",
            text: "9 New Road, Cardiff, Wales, CF5 1BR"
          },
          {
            value: "new10",
            text: "10 New Road, Cardiff, Wales, CF5 1BR"
          }
        ]
      }) }}

           
      {{ govukButton({
        text: "Confirm and continue",
        href:"address-correspondance-confirm"
      }) }}



          
        </form>

        <p class="govuk-body">
          <a href="/register-an-acsp/address-lookup/acsp-address-manual" class="govuk-link govuk-link--no-visited-state">Enter address manually</a>
        </p>
        
 

       <!-- {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>***PLACEHOLDER CONTENT*** We'll use this to send the unique ACSP reference.</p>"
        }) }} -->

   
       


    </div>
  </div>

{% endblock %}
