{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the membership number for Association of Chartered Certified Accountants (ACCA)? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="aml-number" method="post">

        {% if (data['registering-as'] == "sole-trader") %}

        <span class="govuk-caption-l"> {{data['first-name']}} {{data['middle-name']}} {{data['last-name']}} </span>

        {% else %}

        <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>

        {% endif %}
        <h1 class="govuk-heading-l">Anti-Money Laundering (AML) supervisory body details</h1>
       
<!--
        {% call govukFieldset({
          legend: {
            text: "What is the membership number for Association of Chartered Certified Accountants (ACCA)?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          },
          hint:{
            text:" We will check this with the AML supervisory body."
          }
        }) %}
     
        
        {{ govukInput({
          label: {
            text: "Membership number"
          },
          id: "aml-reg-number",
          name: "aml-reg-number"
        }) }}

        {% endcall %}    -->

        <div class="govuk-form-group govuk-!-padding-top-3">
          <label class="govuk-label l govuk-label--m" for="acca-firm-id">
            What is the firm number or firm ID for Association of Chartered Certified Accountants (ACCA)?
          </label>
          <div id="firm-number-acca-hint" class="govuk-hint">
          <p class="govuk-hint govuk-!-padding-top-1">You can find this on the ACCA practising certificate. 
          
          If you cannot find your membership number, you should contact the AML supervisory body.</div>
    

          <input class="govuk-input" id="event-name" name="eventName" type="text">

          <!-- <details class="govuk-details " data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              How to find your firm number or firm ID for ACCA
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>You can find this on the ACCA practising certificate.</p>
              <p>If you cannot find your membership number, you should contact the AML supervisory body.</p>
            </div>
          </details>
 -->
        </div>

        <div class="govuk-form-group govuk-!-padding-top-3">
          <label class="govuk-label l govuk-label--m" for="aat-member-id">
            What is the member ID for Association of Accounting Technicians (AAT)?
          </label>
          <div id="firm-number-acca-hint" class="govuk-hint">
          <p class="govuk-hint govuk-!-padding-top-1">You can find this on your AAT approval letter and certificate. If you cannot find your membership number, you should contact the AML supervisory body.</div>
    

          <input class="govuk-input" id="event-name" name="eventName" type="text">

        </div>





  

      <!--   {{ govukInput({
          label: {
            text: "What is the membership number for Association of Accounting Technicians (AAT)?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This is also known as a member ID."
          },
          id: "event-name",
          name: "eventName"
        }) }}




      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                  How to find your membership number
          </span>
        </summary>
        <div class="govuk-details__text">
              <p>You can find this on your AAT approval letter and certificate.</a>
              </p>
          <p>If you cannot find your membership number, you should contact the AML supervisory body.</p>
        </div>
      </details> -->



        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
