{% set title = "Your company must be registered with an AML supervisory body" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="aml-interrupt" method="post">

        <h1 class="govuk-heading-l">Your AML supervisory body must hold the same name as your application</h1>

       
        <p>To confirm your Anti-Money Laundering (AML) registration, we need to check the supervisory body holds the same name and membership number as you give on your application. </p>

        <p>If you are a soler trader, you will need to be registered with your own name. Otherwise, you will need to be registered as a business with the AML supervisory body. </p>

        <h2 class="govuk-heading-m">What to do next</h2>

        <p>If you’re registering a company, partnership or another type of organisation, you’ll need to<a href="https://www.gov.uk/anti-money-laundering-registration">register the business with an AML supervisory body</a> first.</p>

        <p>Or, to register yourself as an authorised agent, you can <a href="type-of-acsp">apply as a sole trader</a>. Your AML registration will need to be in your own name. </p>



<!--
        <p>You can either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register your company with an AML supervisory body, then apply to register as an authorised agent, or</li>
        <li><a href="start-page">apply to register yourself as an authorised agent</a> – you will need to apply as a sole trader</li>
       -->
       
       
       <!-- <p>To apply to register yourself as an authorised agent, you will need to: </p>
  

        <ol class="govuk-list govuk-list--number">
          <li>verify your identity for Companies House</li>
          <li>start your application again</li>
          <li>select ‘sole trader’ as the type of business you’re registering</li> -->


       
       <!-- {{ govukButton({
          text: "Continue"
        }) }} -->
      </form>
    </div>
  </div>
{% endblock %}
