
{% extends "layouts/main.html" %}
{% block pageTitle %}
  Where do you live?
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="location-lives" method="post">


        {% if (data['first-name'] == "") and (data['last-name'] == "") %}

        <span class="govuk-caption-l"> James Morris </span>

        {% else %}

        <span class="govuk-caption-l">{{data['first-name']}} {{data['middle-name']}} {{data['last-name']}}</span>

        {% endif %}

        <!-- sole trader - state or county -->
        {% if (data['registering-as'] === "sole-trader")%}

        {% set outsideUKHtml %}
        <div class="govuk-form-group ">
          <p class="govuk-hint">Start typing a country, then choose from the list.</p>
          <div id="country" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
        </div>
          {% endset -%}


        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "Where do you live?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "england",
              text: "England"
            },
            {
              value: "scotland",
              text: "Scotland"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              value: "northern-ireland",
              text: "Northern Ireland"
            },
            {
              divider: "or"
            },
            {
              value: "outside-UK",
              text: "Country or state outside of the UK",
              conditional:{
                html: outsideUKHtml
              }
            }
          ]
        }) }} 


        <!-- others - Country --> 
        {% else %}

        <div class="govuk-form-group ">
          <h1 class="govuk-label-wrapper"> <label for="autocomplete-default" class="govuk-label govuk-label--l">Where do you live?</label></h1> 

          <p class="govuk-hint">Start typing a country, then choose from the list.</p>
          <div id="country" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
        </div>



        {% endif %}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/region-country.js"></script>
  <script src="/public/javascripts/nationality-appoint.js"></script>
{% endblock %}
