{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of your business? – {{ serviceName }} 
{% endblock %}



{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="name-of-business" method="post">


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What name do you trader under?
      </h1>
    </legend>
   <!-- <div id="contact-hint" class="govuk-hint">
      Select one option.
    </div> -->
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="personal-name" name="personal-name" type="radio" value="text">
        <label class="govuk-label govuk-radios__label" for="contact">

          {% if (data['first-name'] == "") and (data['last-name'] == "") %}

          James Morris 
          
          {% else %}

          {{data['first-name']}} {{data['middle-name']}} {{data['last-name']}}
  
          {% endif %}
        </label>
      </div>


        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="trading-name" name="trading-name" type="radio" value="email" data-aria-controls="conditional-trading-name">
          <label class="govuk-label govuk-radios__label" for="trading-name">
            A different name
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-trading-name">
          <div class="govuk-form-group">
            <label class="govuk-label" for="trading-name">
              What is the trading name? 
            </label>
            <input class="govuk-input govuk-!-width-full" id="trading-name" name="trading-name" type="text" spellcheck="false">
          </div>
        </div>
     

    
    </div>
  </fieldset>
</div>



   <!--   <form class="form" action="name-of-business" method="post">




        {{ govukInput({
          label: {
            text: "What is the name of your business?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "trading-name",
          name: "tradingName"
        }) }} -->

        


 <!--       {{ govukInsetText({
          text: "This must be the same as the name held by the anti-money laundering (AML) supervisory body. If the AML supervisory body has an incorrect name, you must update this before you apply. "
        }) }} -->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
