//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "accessible-autocomplete";

.highlight-box {
    background-color: #f9f9f8;
    border-style: solid;
    border-width: thin;
    border-color: #bfc1c3;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
  }


  //Style for the start page - sole trader identity verification info panel

.ch-info-panel {
  background-color: #F3F2F1;
	text-align: left;
  margin: 1em 0;
  padding: 2em;
	.govuk-panel__title {
		font-size: 1.7em;
	}
	.govuk-inset-text {
		margin-bottom: 0;
	}
  img {
    margin-right: 5px;
    position:relative;
    top:15px;
  }
}
