{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="before-idv" method="post">


      <h1 class="govuk-heading-l">
        You need to verify your identity
      </h1>


       <!-- Content previously on this page. 

        Review content alongside the start page
      -->



      <!-- <div class="ch-info-panel">
        <h2 class="govuk-panel__title">
         <img src="/public/images/identity-alt.png" alt="" height="50"> -->


            <p class="govuk-body">As a sole trader, you’ll need to verify your identity using GOV.UK One Login before you can apply to register as an authorised agent.  </p>
          

<button class="govuk-button" data-module="govuk-button">
  Verify your identity
</button>

      </form>

    </div>
  </div>

{% endblock %}
