{% extends "layouts/main.html" %}

{% block pageTitle %}
Details may not match those held by the AML supervisory body – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- The action will need to change depending on the location of the confirm-company page -->
      <form action="name-address-match-supervisor" method="post">

        <h1 class="govuk-heading-l">Details may not match those held by the AML supervisory body </h1>
        
        <!-- Confirm the details are the same as those held by the AML supervisory body -->

         <!-- Sole traders -->

      {% if (data['registering-as'] === "sole-trader")%}

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">James Morris</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory bodies
            </dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Association of Accounting Technicians</li>
                  <li>87654321</li>
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> AML professional supervisory body</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory body and membership number
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Association of Chartered Certified Accountants</li>
                <li>554-6325-4555</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> AML professional supervisory body</span>
              </a>
            </dd>
          </div>

        </dl>

        <!--    <p class="govuk-body">The company name and registered office address must be exactly the same as the details held by the anti-money laundering (AML) supervisory body.</p> -->

        {{ govukInsetText({
          text: "We have not been able to confirm these details with an automatic check. You should review the details and change them if they are incorrect. "
        }) }}

        <p>If the details are correct, this could be a technical error. Continue with your application and we will contact the supervisory body to check.</p> 

   <!--  <p class="govuk-body">If the details held by the Anti-Money Laundering (AML) supervisory body are incorrect, you must update these before you apply to register the authorised agent.</p> -->

        <!-- Firms -->

      {% else %}

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Company name</dt>
          <dd class="govuk-summary-list__value">MORRIS ACCOUNTING LTD</dd>
          <dd class="govuk-summary-list__actions"><a href="">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            AML professional supervisory body and membership number
          </dt>

              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Association of Accounting Technicians</li>
                  <li>87654321</li>
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> AML professional supervisory body</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory body and membership number
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Association of Chartered Certified Accountants</li>
                <li>554-6325-4555</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> AML professional supervisory body</span>
              </a>
            </dd>
        </div>

      </dl>

       <!--    <p class="govuk-body">The company name and registered office address must be exactly the same as the details held by the anti-money laundering (AML) supervisory body.</p> -->



       <!-- <p class="govuk-body"> If the address shown is incorrect, you will need to <a href="">update the registered office address</a>.</p> -->

       {{ govukInsetText({
        text: "We have not been able to confirm these details with an automatic check. You should review the details and change them if they are incorrect. "
      }) }}


 <p>If the details are correct, this could be a technical error. Continue with your application and we will contact the supervisory body to check.</p> 
      {% endif %}

   <!--   {{ govukCheckboxes({
        idPrefix: "aml-details-match",
        name: "aml-details-match",
          classes: "govuk-!-padding-top-2",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-!-padding-top-3"
            }
          },
          items: [
          {
            value: "agree",
            text: "I confirm the company name and registered office address are the same as those held by the AML supervisory body.",
            checked: checked("details-match", "agree")
          }
          ]
        }) }} -->


     <!--    {{ govukInsetText({
          html: "The company name and registered office address must be exactly the same as the details held by the AML supervisor."
        }) }} 
        

      <p class="govuk-body">If the address shown is incorrect, you will need to <a href='' class=''>update the registered office address</a>. You should also check the AML supervisor holds the correct company name and registered office address. </p>
      -->

        {{ govukButton({
          text: "Continue"
         }) }}


      </form>

      </p>
    </div>
  </div>
{% endblock %}
