{% extends "layouts/main.html" %}

{% block pageTitle %}
Who is completing this registration? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="who-is-registering" method="post">

       <!--  <span class="govuk-caption-l">James Morris</span> -->


        {{ govukRadios({
          name: "registering-as",
          fieldset: {
            legend: {
              text: "Who is completing this registration?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "relevant-officer",
              text: "Someone who is a director, partner or the Money Laundering Reporting Officer (MLRO)"
            },
            {
              value: "other",
              text: "Someone else"
            }
          ]
        }) }}



    <!--     {{ govukCheckboxes({
          idPrefix: "mlro-declaration",
          name: "mlro-declaration",
          fieldset: {
            legend: {
              text: "Declaration ",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You must be a relevant officer to register an ACSP. This means that you are responsible for AML compliance within the business. We will use your details if we need to contact the ACSP."
          },
          items: [
            {
              value: "agree",
              text: "I confirm that I am the relevant officer for this organisation. "
            }
          ]
        }) }}

       -->

      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is an MLRO?
        </span>
      </summary>
      <div class="govuk-details__text">
        An MLRO is a person who is responsible for Anti-Money Laundering (AML) compliance within a business.    
      </div>
    </details>  
    

    

    <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
