{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the director's name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/verify-using-an-acsp/dob" method="post">

        <h1 class="govuk-heading-l">What is the name of the person you have identity verified?</h1>

        <div class="govuk-form-group">

          {{ govukInput({
            label: {
              text: "Professional or honorary title (if relevant)"
            },
            classes: "govuk-input--width-20",
            id: "title",
            name: "title"
          }) }}


          {{ govukInput({
            label: {
              text: "First name"
            },
            hint: {
              text: ""
            },
            classes: "govuk-input--width-20",
            id: "firstName",
            name: "firstName"
          }) }}

          {{ govukInput({
            label: {
              text: "Middle name or names (optional)"
            },
            hint: {
              text: ""
            },
            classes: "govuk-input--width-20",
            id: "middleName",
            name: "middleName"
          }) }}

          {{ govukInput({
            label: {
              text: "Last name"
            },
            classes: "govuk-input--width-20",
            id: "lastName",
            name: "lastName"
          }) }}
        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


