{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your office address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Update an authorised agents details with Companies House
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="address-registered-office-lookup" method="post">

        {% call govukFieldset({
          legend: {
            text: "What is the registered office address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "UK postcode"
          },
          id: "postcode",
          classes: "govuk-input--width-10",
          name: "principle-postcode"
        }) }}
        {{ govukInput({
          label: {
            text: "Property name or number"
          },
          hint: {
            text: "For example, 'The Mill', '116' or 'Flat 37a'"
          },
          id: "postcode",
          classes: "govuk-input--width-10",
          name: "principle-name"
        }) }}


       
        <div class="govuk-inset-text">
          <p>This will not automatically update the company's address on the public register. To do this, you'll need to <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01" target="_blank">change the company's registered office address (opens in a new tab)</a>.</p>
        </div>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Find address</button>
          <a class="govuk-link" href="../check-your-answers">Cancel update</a>
        </div>

       

        </form>

        <p class="govuk-body">
          <a href="address-principle-manual" class="govuk-link govuk-link--no-visited-state">Enter address manually</a>
        </p>
        
        {% endcall %}

       <!-- {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>***PLACEHOLDER CONTENT*** We'll use this to send the unique ACSP reference.</p>"
        }) }} -->

   
       


    </div>
  </div>

{% endblock %}
