{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Update an authorised agents details with Companies House
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="cancel-interrupt" method="post">


     
        <h1 class="govuk-heading-l">Are you sure you want to cancel all updates?</h1>


        <p class="govuk-body">If you continue, any updates you’ve made to the authorised agent’s details will not be saved. We’ll return you to the authorised agent account.</p>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <a class="govuk-link" href="../check-your-answers">Go back to update details</a>
    </div>

</form>

</div> 
</div>



{% endblock %}
