{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of your business? – {{ serviceName }} 
{% endblock %}

{% set serviceName %}
Update an authorised agents details with Companies House
{% endset %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="name-of-business" method="post">


        <!-- sole-trader -->

        {% if ((data['prototype-set-up'] === "sole-trader")) %}


        {{ govukInput({
          label: {
            text: "What is the name of the business?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "businessName",
          name: "businessName",
          value:"James Morris Accounting"
        }) }}




        {% else %}

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="businessName">
              What is the company name?
            </label>
          </h1>

  
          <input class="govuk-input" id="businessName" name="businessName" type="text">
        </div>

       <!--
        <div class="govuk-inset-text">
          <p>If the company name has changed, you’ll also need to update this on the Companies House register. <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house">Tell Companies House about changes to your limited company (opens in a new tab)</a>.</p>
        </div> -->
        <div class="govuk-inset-text">

        <p>
          This must be the same as the name that's:
          
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>shown on the <a href="https://find-and-update.company-information.service.gov.uk/" target="_blank">Companies House register (opens in a new tab)</a> </li>
          <li>            held by the Anti-Money Laundering (AML) supervisory body 
          </li>
        </ul>
        </div>
        {% endif %}



 




        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
