{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to add an AML supervisory body – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You need to add AML details</h1>


    <p class="govuk-body">
      You must be supervised by one or more AML supervisory body.</p>

      <p>You cannot submit the update as you've removed all the AML details.  </p>
      <p>To submit the update, you'll need to add AML details for one or more supervisory body. </p>

    {{ govukButton({
      text: "Add AML details",
      href:"aml-supervisor"
    }) }}
    

    <p class="govuk-body">
      If you are <a href="#" class="govuk-link">no longer supervised by an anti-money laundering supervisory body you need to close</a>. 
    </p>

  
  </div>
</div>
{% endblock %}

