{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to add an AML supervisory body – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You need to add an AML supervisory body</h1>


    <p class="govuk-body">
      You will need to add the new AML supervisory body details. You need to be supervised by one or more supervisory bodies.
    </p>
   
    {{ govukButton({
      text: "Add AML details",
      href:"aml-supervisor"
    }) }}
    

    <p class="govuk-body">
      If you are <a href="#" class="govuk-link">no longer supervised by an anti-money laundering supervisory body you can tell Companies House</a>. 
    </p>

  
  </div>
</div>
{% endblock %}

