{% extends "layouts/main.html" %}




{% set serviceName %}
  
{% endset%}


{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="account-interrupt" method="post" novalidate="">

    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>


    
    {% set html %}
    <p class="govuk-notification-banner__heading">
      We are introducing a new way to sign in to some of our services.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}

  <h1 class="govuk-heading-l">Sign in to Companies House</h1>

  <p class="govuk-body">If you have an existing Companies House account, enter your email address.</p>

  {{ govukInput({
    label: {
      text: "Email address",
      classes:"govuk-!-font-weight-bold"
    },
    id: "chs-email",
    name: "chs-email",
    type: "email",
    autocomplete: "email",
    spellcheck: false
  }) }}       

     
<!--   <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
       What is a Companies House account?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">This is the account you can use to sign in to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the Companies House register - sometimes known as 'Companies House service'     
   or 'Find and update company information'</li>
        <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
      </ul>
        <p class="govuk-body">A Companies House account is not the same as WebFiling.</p>

        
    
    </div>
  </details>

 -->

  {{ govukButton({
    text: "Continue"
  }) }}   


  <h2 class="govuk-heading-m">GOV.UK One Login</h2> 

  <p class="govuk-body">This is the new way to sign in to some of our services.</p> 

  <!--
  <p class="govuk-body"><a href="../public-beta-v2/create-or-sign-in" class="govuk-link">Create sign in details</a></p> 
<p class="govuk-body"><a href="../public-beta-v2/create-or-sign-in" class="govuk-link">Sign in with GOV.UK One Login</a></p> 
-->



<p class="govuk-body"><a href="create-or-sign-in" class="govuk-link">Create GOV.UK One Login sign in details</a> if you do not have an existing Companies House account, or you want to start using the new way to sign in.</p> 
<p class="govuk-body"><a href="create-or-sign-in" class="govuk-link">Sign in with GOV.UK One Login</a> if you already have one.</p> 












  </form>

            </div>
          </div>

{% endblock %}
