{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="choose-sign-in" method="post" novalidate="">

    {% set html %}
    <p class="govuk-notification-banner__heading">
      We have changed the way you sign in to some of our services
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}


    {{ govukRadios({
      name: "sign-in-using",
      fieldset: {
        legend: {
          text: "Choose how to sign in",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: ""
      },
      items: [
        {
          value: "OL",
          text: "Sign in to GOV.UK One Login, or create new sign in details",
          hint: {
            text: "This is the new way to sign in to government services. In the future, you’ll be able to use it to access all services on GOV.UK. "
          }
        },
        {
          value: "CHS",
          text: "Sign in to an existing Companies House account"
        }
      ]
    }) }}
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         What is a Companies House account?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">This is the account you can use to sign in to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the Companies House register - sometimes known as 'Companies House service'     
     or 'Find and update company information'</li>
          <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
        </ul>
          <p class="govuk-body">A Companies House account is not the same as WebFiling.</p>


          <div class="govuk-form-group govuk-password-input" data-module="govuk-password-input">
            <label class="govuk-label" for="password-input">
              Password
            </label>
            <div class="govuk-input__wrapper govuk-password-input__wrapper">
              <input class="govuk-input govuk-password-input__input govuk-js-password-input-input" id="password-input" name="password" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none">
              <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input" aria-label="Show password" hidden>
                Show
              </button>
            </div>
          </div>

          
      
      </div>
    </details>

  {{ govukButton({
    text: "Continue"
  }) }}   
  
  
  </form>

            </div>
          </div>

{% endblock %}
