{% extends "layouts/main.html" %}

{% block pageTitle %}
Is this your company? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- The action will need to change depending on the location of the confirm-company page -->
      <form action="confirm-company" method="post">
        <h1 class="govuk-heading-l">Is this your company?</h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company name</dt>
            <dd class="govuk-summary-list__value">MORRIS ACCOUNTING LTD</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number</dt>
            <dd class="govuk-summary-list__value">02050399</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">
              <!-- a set of if and elif conditions depending on the company status-->
              Active
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Incorporation date</dt>
            <dd class="govuk-summary-list__value">28 August 1986</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company type</dt>
            <!-- upper is a way in Nunjucks to convert text into uppercase-->
            <dd class="govuk-summary-list__value">Private limited company</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Registered office address</dt>
            <dd class="govuk-summary-list__value">
              <!-- if statements are used to stop gaps showing where there is missing information -->
              72 Guild Street <br> London <br> SE23 6FH
            </dd>
          </div>



        </dl>
       
    <!--     {{ govukRadios({
          classes: "govuk-radios",
          name: "aml-details-match",
          classes: "govuk-!-padding-top-2",
          fieldset: {
            legend: {
              text: "Does the company name and registered office address match the details held by the AML supervisory body?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s govuk-!-padding-top-3"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }} -->


     <!--    {{ govukInsetText({
          html: "The company name and registered office address must be exactly the same as the details held by the AML supervisor."
        }) }} 
        

      <p class="govuk-body">If the address shown is incorrect, you will need to <a href='' class=''>update the registered office address</a>. You should also check the AML supervisor holds the correct company name and registered office address. </p>
      -->



     <div class="govuk-inset-text">
  <h2 class="govuk-heading-m">What information we’ll publish</h2>
  <p>We’ll publish the company name if we need to suspend or stop the company from acting as an authorised agent. </p>
</div> 


        {{ govukButton({
          text: "Confirm and continue"
         }) }}

         <p class="govuk-body"> <a href="company-lookup">Choose a different company</a> </p>

      </form>

      </p>
    </div>
  </div>
{% endblock %}
