{% extends "layouts/main.html" %}



{% set serviceName %}
  
{% endset%}


{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">

  <form action="create-new-sign-in-details" method="post" novalidate="">

    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

   

  <h1 class="govuk-heading-l">Create sign in details</h1>


  <p class="govuk-body">You can create sign in details using GOV.UK One Login. This will allow you to access many government services using the same email address and password. It will also make your Companies House account more secure.
  </p> <!-- <a href="" class="govuk-link">Create a GOV.UK One Login sign in details</a>.  -->



  {{ govukButton({
    text: "Create a GOV.UK One Login",
    href:"create-or-sign-in"
  }) }}

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        If you do not want to create a GOV.UK One Login yet
      </span>
    </summary>
    <div class="govuk-details__text">
      In the future, you will need to create a GOV.UK One Login to use Companies House online services. However for now, you can <a href="register-with-companies-house" class="govuk-link">create sign in details</a> without using GOV.UK One Login.
    </div>
  </details>











  </form>

  </div>
</div>

{% endblock %}
