{% extends "layouts/main.html" %}

{% block pageTitle %}
Details may not match those held by the AML supervisory body – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- The action will need to change depending on the location of the confirm-company page -->
      <form action="name-address-match-supervisor-mvp" method="post">

        <h1 class="govuk-heading-l">Check the Anti-Money Laundering (AML) details</h1>
        
        <!-- Confirm the details are the same as those held by the AML supervisory body -->

         <!-- Sole traders -->


    <p class="govuk-body">We’ll confirm the AML supervisory body holds the same details for <!--dynamic text to show company or business name here -->MORRIS ACCOUNTING LTD. If the details do not match, we will reject your application.</p>
    <p>Check the details are correct and change them if you need to.</p>




    <table class="govuk-table govuk-!-margin-top-8">
      <caption class="govuk-table__caption govuk-table__caption--m">AML registration details </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">AML supervisory body</th>
          <th scope="col" class="govuk-table__header">AML membership number</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden"> Change AML details</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Association of Chartered Certified Accountants (ACCA)</th>
          <td class="govuk-table__cell">554-6325-4555</td>

          <td class="govuk-table__cell">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Association of Chartered Certified Accountants (ACCA)</span></a> 
          </td>


        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Association of Accounting Technicians (AAT)</th>
          <td class="govuk-table__cell">87654321</td>
        
          <td class="govuk-table__cell">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Association of Accounting Technicians (AAT)</span></a> 
          </td>
      </tr>
      </tbody>
    </table>



<!-- 
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">AML supervisory body</th>
      <th scope="col" class="govuk-table__header">AML membership number</th>
         <th scope="col" class="govuk-visually-hidden">Change the AML details </th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Association of Chartered Certified Accountants (ACCA)</th>
      <td class="govuk-table__cell">554-6325-4555</td>
            <td class="govuk-table__cell"><a href="#">
                  Change
                  <span class="govuk-visually-hidden"> AML supervisory body details for ACCA</span>
                </a> </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Association of Accounting Technicians (AAT)</th>
      <td class="govuk-table__cell">87654321</td>
      <td class="govuk-table__cell"><a href="#">
                  Change
                  <span class="govuk-visually-hidden"> AML supervisory body details for AAT</span>
                </a> </td>
    </tr>

  </tbody>
</table> -->

<!-- <p class="govuk-body">
  <a href="aml-supervisor" class="govuk-link">Change AML details</a>
</p> -->

<!--

<div class="govuk-inset-text">
  You must have been registered with the AML supervisory body for at least 2 weeks.
</div> -->


<!--

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">James Morris</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory body and membership number
            </dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Association of Accounting Technicians</li>
                  <li>87654321</li>
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> AML professional supervisory body</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory body and membership number
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Association of Chartered Certified Accountants</li>
                <li>554-6325-4555</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> AML professional supervisory body</span>
              </a>
            </dd>
          </div>

        </dl> -->


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm and continue"
          }) }}

         <!--  <a class="govuk-link" href="#">Change AML details</a>
        
          {{ govukButton({
            text: "Change AML details",
            classes: "govuk-button--secondary"
          }) }} -->
        </div>





      </form>

      </p>
    </div>
  </div>
{% endblock %}
