{% extends "layouts/main.html" %}
{% block pageTitle %}
You have already submitted an application
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">You’ve already been added to an authorised agent account</h1>



             <p class="govuk-body">You cannot apply to register a business as an authorised agent as your email address has already been added to an authorised agent account.</p>
              
        <p>Before you can apply to register, you’ll need to remove yourself from the <a href="#" class="govuk-link">authorised agent account</a>.</p>

        <p>If you’ve been added to the account as a standard user, you’ll need to ask an account owner or administrator to remove you. </p>



    </div>
  </div>
{% endblock %}
