{% extends "layouts/main.html" %}

{% block pageTitle %}
What you’ll need to do as a Companies House authorised agent – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
      <h1 class="govuk-heading-l ">
        Authorised agent legal responsibilities
      </h1>
 <!--<div class="govuk-hint govuk-!-margin-bottom-6">
    This is also known as an authorised corporate service provider (ACSP).
  </div> -->

      <p>Companies House authorised agents, also known as Authorised Corporate Service Providers (ACSPs), must comply with the following legal responsibilities. </p><p>To register a business, you’ll need to select to accept the responsibilities. </p>


<ol class="govuk-list govuk-list--number">
  <li>The business must always be registered with at least one Anti-Money Laundering (AML) supervisory body.</li>
  <li>You, or another account owner, must tell us if there is a change to any of the information you provide in the application to register as an agent. You must do this within 14 days.</li>
  <li>If we request it, the business must provide more information:</li>
    <ul class="govuk-list govuk-list--bullet">
        <li>about your filings with Companies House</li>
        <li>about identity checks, if the agent verifies someone’s identity for Companies House</li>
        <li>to prove the agent is complying with its legal responsibilities</li>
        </ul>
 
<li> If you verify the identity of clients for Companies House, you must keep records of the checks you carry out. You must keep these for 7 years from the date you complete the checks.</li>
</ol>


      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    All officers of the business need to be aware of these responsibilities. If the business does not comply, we could suspend or stop it from acting as an authorised agent. Every officer could receive a fine or face criminal prosecution.  
  </strong>
</div>

      <!--<p class="govuk-body">If you are no longer responsible for AML compliance, the agent must give details for a new relevant officer. </p> -->
    <!--  <p class="govuk-body">Authorised agents must keep records of any identity verification checks they complete. We may ask for more information on individual checks if we need to.</p> 

      <p>[Placeholder content - subject to secondary legislation.]</p> -->

      <form class="form" action="terms-and-conditions" method="post">

        
      
        <button class="govuk-button" data-module="govuk-button">Accept and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
