{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers before sending your application – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      <form class="form" action="../payment" method="post">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Your details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            James Morris
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Statement
          </dt>
          <dd class="govuk-summary-list__value">
            I confirm that I am the relevant officer for this organisation.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-m">Company details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            JAMES ACCOUNTING LTD
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ACSP address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street
            <br>London
            <br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal form
          </dt>
          <dd class="govuk-summary-list__value">
            Private Company Limited by Shares
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> Legal form of the ACSP</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Anti-Money Laundering (AML) details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            AML professional supervisory body
          </dt>
          <dd class="govuk-summary-list__value">
            Association of Chartered Certified Accountants
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> AML professional supervisory body</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            AML registration number
          </dt>
          <dd class="govuk-summary-list__value">
            87654321
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> AML registration number</span>
            </a>
          </dd>
        </div>
      </dl>

    <!--   {{ govukCheckboxes({
        idPrefix: "diligence",
        name: "diligence",
        fieldset: {
          legend: {
            text: "Declaration ",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "agree",
            text: "I confirm that the ...  "
          }
        ]
      }) }} -->


      {{ govukInsetText({
        html: '
            <h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
            <p>We will not show any information you provide on the public register. </p>'
      }) }}

    
      <form action="/payment" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
