{% extends "layouts/main.html" %}

{% block pageTitle %}
You have proved your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You have proved your identity
      </h1>

      <p class="govuk-body">You’ll now need to enter details for the company to register the ACSP. </p>

      <form class="form" action="/company-lookup" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      
    </div>
  </div>

{% endblock %}
