{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start - Verify your identity 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
How to register an authorised agent with Companies House      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#service">
               What this service is for
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#verify-screener">
               What an ACSP is
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#how-to-verify">
                Who can use this service
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#acsp-guidance">
                What information you need to submit
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="verify-through-acsp">
                What happens after an ACSP is registered
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#identity-checks">
              Identity verification checks
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      

      <h2 id="service" class="govuk-heading-m">What this service is for </h3>

      <p>This service is for businesses to register as an authorised agent, or Authorised Corporate Service Provider (ACSP), with Companies House.</p>
 
  <p>Businesses must register as an authorised agent to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>verify the identity of individuals for the Companies House register</li>
        <li>form companies or registrable partnerships, or to file on their behalf</li>
      </ul>


      <h2 id="verify-screener" class="govuk-heading-m">What an authorised agent is </h3>

      <p>An authorised agent can be an agent, such as an accountant, legal adviser, or company formation agent. They must be registered with a supervisory body for Anti-Money Laundering (AML) purposes. </p>

      <p>People can choose to use an authorised agent to: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>verify their identity</li>
        <li>file with Companies House on their behalf</li>
        <li>form a new company, or registrable partnership</li>
      </ul>

      <h2 id="how-to-verify" class="govuk-heading-m">Who can use this service </h3>
      <p>You must be a relevant officer to register an ACSP. This means that you are responsible for AML compliance within the business. You will be the main contact for the authorised agent.</p>  

      <p>If the business you’re registering is an organisation, the application will be for the whole organisation. You will be able to add or remove people who work for the agent once it is registered. </p>

      <p>To register as an authorised agent, a business must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be registered in the UK</li>
        <li>be registered with an AML supervisory body</li>
        <li>already carry out customer due diligence checks on all clients </li>
      </ul>

      <h2 id="acsp-guidance" class="govuk-heading-m">What information you need to submit</h3>

      <p>If you have not proved your own identity with a GOV.UK One Login account, you will be asked to do this before you can register an ACSP. </p>
      <p>To do this, you’ll need: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to create or sign in to a GOV.UK account </li>
        <li>a relevant photo ID</li>
        <li>your current home address (you might also need your previous address if you’ve recently moved)</li>
      </ul>

      <p>We’ll only use this information to check that you are who you say you are. We will not show this information on the Companies House register. </p>

      <p>To register the authorised agent, you'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the name of the company, or your own name if you are self-employed</li>
        <li>the registered address </li>
        <li>the name of the AML supervisory body </li>
        <li>the AML registration number</li>
        <li>to pay the £XX registration fee using a credit or debit card</li>
      </ul>

      <p>The company name and registered office address must be exactly the same as the details held by the AML supervisory body. If you need to update the company name or registered address with the AML supervisory body, you must do this before you apply. </p>

      <h3 class="govuk-heading-s">If you’re registering a limited company, limited liability partnership (LLP), limited partnership or Scottish limited partnership (SLP)</h3>

      <p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>the company number</li>
          <li>the company authentication code</li>
      </ul>
      
      <h3 class="govuk-heading-s">If you’re registering a sole trader or partnership</h3>
      <p>You’ll need your unique tax reference (UTR) from HMRC. [Placeholder content] </p>


      <h2 id="verify-through-acsp" class="govuk-heading-m">What happens after an ACSP is registered</h3>

      <p>You can sign in to your Companies House account to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add or remove people who work for the ACSP</li>
        <li>update the ACSP details</li>
        <li>tell us you have verified someone’s identity</li>
        <li>form companies or registrable partnerships, or to file on their behalf</li>
      </ul>

      <p>You must provide details about any changes to the ACSP’s AML registration. This includes if the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>ACSP is no longer registered with an AML supervisory body </li>
        <li>AML registration details change, for example if the ACSP registers with a different AML supervisory body</li>
      </ul>
      <p>The ACSP must give details for a new relevant officer if you are no longer the person who is responsible for AML compliance. </p>

       <h3 id="identity-checks" class="govuk-heading-m">Identity verification checks</h3>

      <p>If you verify someone’s identity with Companies House, you must keep records of the checks you complete. </p>

      <p>You must keep a copy of any documents you use to check a person’s identity while you have a working relationship and for 5 years after.</p>

      <p>We may ask for more information on identity checks if we need to.</p>

      <p>Authorised agents do not have to offer identity verification to their clients. However, they will still need to register to file on behalf of companies or registrable partnerships. </p>

      {{ govukButton({
        text: "Apply to be an ACSP",
        href:"start-page"
      }) }}


      





      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
