{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm this is the correct company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- The action will need to change depending on the location of the confirm-company page -->
      <form action="confirm-company" method="post">
        <h1 class="govuk-heading-l">Confirm the company name and registered office address</h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company name</dt>
            <dd class="govuk-summary-list__value">JAMES ACCOUNTING LTD</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Registered office address</dt>
            <dd class="govuk-summary-list__value">
              <!-- if statements are used to stop gaps showing where there is missing information -->
              72 Guild Street <br> London <br> SE23 6FH
            </dd>
          </div>

        </dl>

        <p class="govuk-body"> If the address shown is incorrect, you will need to <a href="">update the registered office address</a>.</p>



       
      {{ govukRadios({
          classes: "govukCheckboxes",
          name: "aml-details-match",
          classes: "govuk-!-padding-top-2",
          fieldset: {
            legend: {
              text: "The company name and registered office address must be exactly the same as the details held by the AML supervisory body",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s govuk-!-padding-top-3"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }} 


     <!--    {{ govukInsetText({
          html: "The company name and registered office address must be exactly the same as the details held by the AML supervisor."
        }) }} 
        

      <p class="govuk-body">If the address shown is incorrect, you will need to <a href='' class=''>update the registered office address</a>. You should also check the AML supervisor holds the correct company name and registered office address. </p>
      -->

        {{ govukButton({
          text: "Continue"
         }) }}


      </form>

      </p>
    </div>
  </div>
{% endblock %}
