{% extends "layouts/main.html" %}
{% block pageTitle %}
 
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">You need to update the company details </h1>

       <p class="govuk-body">The company name and registered office address must be exactly the same as the details held by the AML supervisory body.</p>  

      <p>If you need to <a href='' class=''>update the registered office address with Companies House</a>, you must do this before you continue. </p>
      <p>If the details held by the Anti-Money Laundering (AML) supervisory body are incorrect, you must update these before you apply.</p>



    </div>
  </div>
{% endblock %}
