
{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the company authentication code – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="auth-code" method="post">
      

          {{ govukInput({
          label: {
            text: "Enter the company authentication code",
            classes: "govuk-label--l"
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "This is a 6 character code issued by us to each company. You need the code to authorise online filings for MORRIS ACCOUNTING LTD. "
          },
          id: "authNumber",
          name: "authNumber",
          type: "password"
          }) }}

        {{ govukDetails({
          summaryText: "I do not have an authentication code",
          html: "<p>To file online for this company, you’ll need to <a target='blank' href='https://www.gov.uk/guidance/company-authentication-codes-for-online-filing'>request an authentication code (opens in a new tab)</a>.<p>"
         }) }}
        {{ govukButton({
         text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
