{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{serviceName}} - GOV.UK
{% endblock %}

{% set serviceName %}
  
{% endset%}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">      
      <form action="one-login-sign-in" method="post" novalidate="">

        {{ govukInput({
          label: {
            text: "Enter your email address to sign in to your GOV.UK One Login",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "event-name",
          name: "event-name"
        }) }}
      {{ govukButton({
        text: "Continue",
        href:"one-login-enter-password"
      }) }}
      </form>
     </div>
  </div>
{% endblock %}