{% extends "layouts/main.html" %}

{% block pageTitle %}
What type of business are you registering? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>


  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>


{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="type-of-acsp-other" method="post">



        {{ govukRadios({
          name: "registering-as",
          fieldset: {
            legend: {
              text: "What other type of business are you registering?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "unincorporated-body",
              text: "Unincorporated entity"
            },
            {
              value: "corporate-body",
              text: "Corporate body (registered with Companies House)",
              hint: {
                text: "This does not include limited companies or registrable partnerships."
              }
            }

          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
