{% extends "layouts/main.html" %}

{% block pageTitle %}
Check you're Anti-money laundering details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="correctly-supervised" method="post">


       
          <h1 class="govuk-heading-l">Check your Anti-Money Laundering (AML) supervision details</h1>


        <p class="govuk-body">Contact your supervisory body to check that you are supervised correctly and which details you need to provide.</p>


        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>You’ll need to be AML supervised in your own name.
          </strong>
        </div>
  
  


    

         <h2 class="govuk-heading-m">What we'll check</h2>

         <p class="govuk-body">We’ll check the AML supervisory body holds the name <span class="govuk-!-font-weight-bold"> {{data['first-name']}} {{data['middle-name']}} {{data['last-name']}}</span>. If they do not, we'll reject your application.</p>
        

       
 
          <div class="govuk-form-group govuk-!-padding-top-5">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              How are you supervised for AML?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="correctlySupervised" name="correctlyAMLSupervised" type="radio" value="individualName">
                <label class="govuk-label govuk-radios__label" for="correctlyAMLSupervised">
                  Individually supervised as
                      <span class="govuk-!-font-weight-bold">{{data['first-name']}} {{data['middle-name']}} {{data['last-name']}} </span>

                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="correctlyAMLSupervised-2" name="correctlyAMLSupervised" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="correctlyAMLSupervised-2">
                  Supervised under a different name
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="correctlyAMLSupervised-2" name="correctlyAMLSupervised" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="correctlyAMLSupervised-2">
                  Not sure
                </label>
              </div>
            </div>
          </fieldset>
        </div>




        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>




{% endblock %}
