{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="idv-interrupt-release-1" method="post">


      <h1 class="govuk-heading-l">
        Verify your identity
      </h1>

    <!--  <h2 class="govuk-heading-m">
        Who will need to verify their identity
      </h2> -->




       <!-- Content previously on this page. 

        Review content alongside the start page
      -->



      <!-- <div class="ch-info-panel">
        <h2 class="govuk-panel__title">
         <img src="/public/images/identity-alt.png" alt="" height="50"> -->


            <p class="govuk-body">You'll need to do this before you can use this service. </p>
            <p class="govuk-body">You should only continue to verify if you can register your business as an authorised agent. To do this, you must be one of the following: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>director</li>
            <li>general partner</li>
            <li>partner</li>
            <li>member</li>
            <li>sole trader</li>
          </ul>



          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              If you’re registering an unincorporated body or corporate body
              </span>
            </summary>
            <div class="govuk-details__text">
                        <h3 class="govuk-heading-s">Unincorporated body</h3>
                        <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be a member of the governing body. </p>

                                      <h3 class="govuk-heading-s">Corporate body</h3>
                        <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be the equivalent of a director. </p>
                        
            </div>
          </details>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Identity verification options
                </h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Verify my identity using GOV.UK One Login 
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    Already verified my identity using an Authorised Corporate Service Provider (ACSP)
                  </label>
                </div>
               <!-- <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                    Verify my identity later
                  </label>
                </div> -->
              </div>
            </fieldset>
          </div>

  
            <button type="submit" class="govuk-button " data-module="govuk-button">
              Continue
            </button>
  


      </form>

    </div>
  </div>

{% endblock %}
