{% extends "layouts/main.html" %}
{% block pageTitle %}
You have already submitted an application
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">You have already submitted an application </h1>



             <p class="govuk-body">You can only submit one application at a time. </p>  
        <p>Go to <a href="#" class="govuk-link">Your filings</a> to check the status of your application.</p>



    </div>
  </div>
{% endblock %}
