{% extends "layouts/main.html" %}

{% block pageTitle %}
ADD HERE – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You can not register to be an authorised agent</h1>
    <p class="govuk-body">
      You are on the banned/suspended list of sole traders (HMRC).
    </p>

    <p class="govuk-body"> <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact us </a>if you have any questions.</p>
  
  </div>
</div>
{% endblock %}

