{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="personal-code" method="post">


        <div class="govuk-form-group">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
              What is your Companies House personal code?
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="text">
        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Where to find the Companies House personal code
            </span>
          </summary>
          <div class="govuk-details__text">
            This is an 11 character code that is given to a person after they have verified their identity with Companies House.
          </div>
        </details>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>





      </form>

    </div>
  </div>

{% endblock %}
