{% extends "layouts/main.html" %}

{% block pageTitle %}
Sign in to Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">

      <form class="form" action="signed-out" method="post">
      
        <h1 class="govuk-heading-l">You have signed out</h1>

        <p class="govuk-body">Your application will be saved in Your filings.</p>

        <p class="govuk-body">
           <a href="#" class="govuk-link">Sign in to return to your saved applications</a>.
        </p>
        
                {{ govukButton({
                  text: "Continue"
                }) }}
      </form>

    </div>
  </div>

{% endblock %}
