{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm your correspondence address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="address-correspondance-confirm" method="post">


        {% if (data['first-name'] == "") and (data['last-name'] == "") %}

        <span class="govuk-caption-l"> James Morris </span>

        {% else %}

        <span class="govuk-caption-l">{{data['first-name']}} {{data['middle-name']}} {{data['last-name']}}</span>

        {% endif %}

        <h1 class="govuk-heading-l">Confirm the correspondence address</h1>
        <ul class="govuk-list">
          <li>15 New Road,</li>
          <li> Cardiff</li>
          <li> Wales </li>
          <li>CF5 1BR</li>
        </ul>
        
        <p class="govuk-body">
          <a href="address-correspondance-manual" class="govuk-link govuk-link--no-visited-state">Edit address</a>
        </p>
       <!--  {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>***PLACEHOLDER CONTENT*** We'll use this to send the unique ACSP reference.</p>"
        }) }} -->
  
            {% if ((data['registering-as'] === "sole-trader")) %}

<!--
     <div class="govuk-inset-text">
  <h2 class="govuk-heading-m">What information we’ll show on the public list of authorised agents</h2>
  <p>We’ll show the town or city of the correspondence address.  </p>
</div> -->

      {% else %}

       
      {% endif %}
      


       {{ govukButton({
          text: "Confirm and continue"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
