{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the membership number for Association of Chartered Certified Accountants (ACCA)? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="aml-number" method="post">

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="aml-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        {% if (data['registering-as'] == "sole-trader") %}

                        <span class="govuk-caption-l"> {{data['first-name']}} {{data['middle-name']}} {{data['last-name']}} </span>

                        {% else %}

                        <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>

                        {% endif %}
                        <h1 class="govuk-fieldset__heading">
                          Anti-Money Laundering (AML) supervisory body details
                        </h1>
                      </legend>


                      <div class="govuk-inset-text">
                        Contact the AML supervisory body if you need to check your details. 
                      </div>


                      {% if data['aml-supervisor'] and 'acca' in data['aml-supervisor'] %}

                      <!-- Association of Chartered Certified Accountants (ACCA) -->

                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="acca">
                          What is the Firm ID for the Association of Chartered Certified Accountants (ACCA)?
                        </label>
                        <div id="acca-hint" class="govuk-hint">
                          You can find this on the ACCA Practicing Certificate (PC). It will be between 7 and 10 numbers long.
                        </div>
                        <input class="govuk-input" id="acca" name="accaDetails" type="text">
                      </div>

                      {% endif %}
       
                      <!-- Association of Accounting Technicians (AAT) -->
          
                       {% if data['aml-supervisor'] and 'aat' in data['aml-supervisor'] %}


                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="aat">
                         What is the membership number for the Association of Accounting Technicians (AAT)?
                        </label>
                        <div id="aat-hint" class="govuk-hint">
                          You can find this on the AAT certificate and approval letter. It will be between 1 and 9 numbers long.
                        </div>
                        <input class="govuk-input" id="aat" name="aatDetails" type="text">
                      </div>

                      {% endif %}
              

                      <!-- Association of International Accountants (AIA) -->
     
             {% if data['aml-supervisor'] and 'aia' in data['aml-supervisor'] %}

                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="aia">
                         What is the AML membership ID for Association of International Accountants (AIA)?
                        </label>
                        <div id="aia-hint" class="govuk-hint">
                          You can find this on the AIA practicing certificate, or by signing in to <a href="https://www.aiaworldwide.com/system/login/" class="govuk-link">MyAIA (opens in a new tab)</a>. It will be between 4 and 6 numbers long.
                        </div>
                        <input class="govuk-input" id="aia" name="aiaDetails" type="text">
                      </div>

                      
                      {% endif %}


                      <!-- Association of Taxation Technicians (ATT) -->



                       <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="att">
                        What is the AML membership number for Association of Taxation Technicians (ATT)?
                        </label>
                        <div id="att-hint" class="govuk-hint">
                          You can find this on the ATT practicing certificate and approval letter. It will start with the letters ‘AML’, followed by 2 sets of numbers. For example, ‘AML-1-999999’ or ‘AML-1234-999999’. 
                        </div>
                        <input class="govuk-input" id="att" name="attDetails" type="text">
                      </div>



                      <!-- Chartered Institute of Legal Executives (CILEx) -->


                       <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="att">
                        What is the Regulation ID for the Chartered Institute of Legal Executives (CILEx)?
                        </label>
                        <div id="att-hint" class="govuk-hint">
                          This is the number that CILEx provided when you registered.
                        </div>
                        <input class="govuk-input" id="att" name="attDetails" type="text">
                      </div>


                       <!-- Chartered Institute of Management Accountants (CIMA) -->


                       <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="cima">
                        What is the Member ID for the Chartered Institute of Management Accountants (CIMA)?
                        </label>
                        <div id="cima-hint" class="govuk-hint">
                          CIMA provided this when you registered. It contains letters and numbers. It is usually 5 to 8 characters long.
                        </div>
                        <input class="govuk-input" id="cima" name="cimaDetails" type="text">
                      </div>


                       <!-- Chartered Institute of Taxation (CIOT) -->


                       <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="ciot">
                       What is the AML reference number for the Chartered Institute of Taxation (CIOT)?
                        </label>
                        <div id="ciot-hint" class="govuk-hint">
                          This starts with the letters ‘AML’, followed by 2 sets of numbers. For example, ‘AML-1-999999’ or ‘AML-1234-999999’.
                        </div>
                        <input class="govuk-input" id="ciot" name="ciotDetails" type="text">
                      </div>


                       <!-- Council for Licensed Conveyors (CLC) -->


                       <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="clc">
                       What is the AML membership number for the Council for Licensed Conveyors (CLC)?
                        </label>
                        <div id="ciot-hint" class="govuk-hint">
                          The supervisory body may have a different name for this, for example a ‘firm number’ or ‘regulation ID’. Contact them if you need to check what this is.
                        </div>
                        <input class="govuk-input" id="clc" name="clcDetails" type="text">
                      </div>





       </fieldset>
      </div>

      

          

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                  How to find your membership number
          </span>
        </summary>
        <div class="govuk-details__text">
              <p>You can find this on your AAT approval letter and certificate.</a>
              </p>
          <p>If you cannot find your membership number, you should contact the AML supervisory body.</p>
        </div>
      </details> 



        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
