{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body">Use this service to register your business as Authorised Corporate Service Provider (ACSP) with Companies House. ACSPs are also known as Companies House authorised agents. </p>


      <p>You'll need to register to be able to: 
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="">verify your clients' identities for Companies House</a></li>
            <li>file on behalf of clients</li>
        </ul>






    <h2 class="govuk-heading-m">Who can apply</h2>

      <p class="govuk-body">To register your business as an authorised agent, you must be one of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>director</li>
        <li>general partner</li>
        <li>partner</li>
        <li>member</li>
        <li>sole trader</li>
      </ul>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     If you’re registering an unincorporated body or corporate body
    </span>
  </summary>
  <div class="govuk-details__text">
  
                              <h3 class="govuk-heading-s">Corporate body</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be the equivalent of a director. </p>
              <h3 class="govuk-heading-s">Unincorporated entity</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be a member of the governing body. </p>


              
  </div>
</details>

      <p class="govuk-body">
  You’ll be able to add other people who work for the business to the authorised agent account once you’ve registered.
</p>






    
        <h2 class="govuk-heading-m">How to apply </h2>
<p>You'll need to do the following steps to complete your application. You can save your answers and resume your application later if you need to. </p>


        <h3 class="govuk-heading-s">Sign in and verify your identity</h3>

        <p>You'll need to sign in to, or create a GOV.UK One Login to use this service.  </p>
          


     <p>  If you have not already verified your identity for Companies House with the email address you use for GOV.UK One Login, you’ll need to either:  </p>

     <ul class="govuk-list govuk-list--bullet">
        <li>verify your identity – <a href="">read the guidance on verifying</a> to check what you'll need</li>
        <li>provide your Companies House personal code </li>
            </ul>

            <p>           
              You’ll use the same email address to access the authorised agent account once you have registered. You will be able to change this, if you want to. </p>
            


          <h3 class="govuk-heading-s">Tell us information about the business, or yourself if you're a sole trader</h3>
<p>The information you need to provide will depend on the type of business you're registering.</p>

<p><a href="">Read the guidance on applying to register as an authorised agent</a> to check you have everything you need.</p>



<h3 class="govuk-heading-s">Provide Anti-Money Laundering (AML) registration details</h3>
<p>You’ll need to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>which AML supervisory bodies the business is registered</li>
  <li>AML membership numbers or IDs - your supervisory body may have a different name for this, such as a firm ID or number</li>
</ul>
 <p>We’ll check the supervisory body holds the same name and membership number for your business. Contact your AML supervisory body if you need to check your details.</p>

<h3 class="govuk-heading-s">Pay the £55 registration fee</h3>
<p>You'll need to pay using a credit or debit card. We'll refund the fee if the application is rejected.</p>







     


      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}


      <h2 class="govuk-heading-m">After you are registered as an authorised agent</h2>


      <p class="govuk-body">We’ll create an authorised agent account, which you’ll be able to access when you sign in to your Companies House account.</p>

      <p>Read the <a href="guidance-ACSPs">guidance for authorised agents</a> to find out how to use the authorised agent account. 

</p> 




    </div>


  </form>
  </div>
{% endblock %}
