{% extends "layouts/main.html" %}

{% block pageTitle %}
Check you're Anti-money laundering details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="aml-individual-details-do-not-match" method="post">

      <h1 class="govuk-heading-l">Check your AML name and membership number</h1>

      <p>The Anti-Money Laundering (AML) details you provide must be exactly the same as the details your AML supervisory body holds.</p>

      <p><a target="_blank" href="https://www.gov.uk/guidance/how-to-check-your-anti-money-laundering-aml-details">Read guidance on how to check your AML details</a>. </p>

     
      <h2 class="govuk-heading-m">Save and sign out</h2>
      <p class="govuk-body">You can <a href="">save your application and sign out</a> while you check your AML details. </p>
      
      <p>Once you have the correct details, sign in and go to Your filings to continue with your application.</p>



 

      </form>

    </div>
  </div>




{% endblock %}
