{% extends "layouts/main.html" %}

{% block pageTitle %}
Check you're Anti-money laundering details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="aml-individual-details-do-not-match" method="post">

      <h1 class="govuk-heading-l">Check your AML name and registration number</h1>

      <h2 class="govuk-heading-m">What you need to check</h2>

      <p class="govuk-body">You need to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the exact name you are registered with</li>
          <li>the number you are registered with for AML</li>
        </ul>

      <h3 class="govuk-heading-s">HMRC</h3>

      <p class="govuk-body">If you are supervised with HMRC, you also need to check that you're status is 'approved' on the registered list (opens in a new tab). </p>

      <h2 class="govuk-heading-m">How to check</h2>

      <p class="govuk-body">You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sign in to your supervisory body account</li>
          <li>Contact your supervisory body</li>
          <li>Check the supervisory bodies public list</li>
        </ul>



      <p class="govuk-body"><a href="https://www.gov.uk/guidance/how-to-check-your-anti-money-laundering-aml-details" class="govuk-link" rel="noreferrer noopener" target="_blank">For more guidance on How to check your Anti-Money Laundering (AML) details (opens in a new tab)</a>.</p>

      <h2 class="govuk-heading-m">Sign out and continue with registering</h2>
      <p class="govuk-body">You can save and sign out of this service. Once you have checked your AML details, you can return to the service and continue your application.</p>




      <p class="govuk-body"><a href="" class="govuk-link" rel="noreferrer noopener" target="_blank">Continue with the registation </a>, once you have checked your AML details and they match. </p>


 

      </form>

    </div>
  </div>




{% endblock %}
