{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the membership number for Association of Chartered Certified Accountants (ACCA)? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="aml-number-MVP" method="post">

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="aml-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        {% if (data['registering-as'] == "sole-trader") %}

                        <span class="govuk-caption-l"> {{data['first-name']}} {{data['middle-name']}} {{data['last-name']}} </span>

                        {% else %}

                        <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>

                        {% endif %}
                        <h1 class="govuk-fieldset__heading">
                          What is the Anti-Money Laundering (AML) membership number?
                        </h1>
                      </legend>
        <p>Your AML supervisory body may have a different name for this, such as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a firm ID or number</li>
          <li>a regulation ID</li>
          <li>an AML ID</li>
          </ul>

        <p>Contact the AML supervisory body if you need to check your details.</li>
                      <!-- AML supervisors -->

                      <div class="govuk-form-group govuk-!-padding-top-3">
                        <label class="govuk-label l govuk-label--m" for="acca-firm-id">
                          Association of Chartered Certified Accountants (ACCA)
                        </label>
              
                  
              
                        <input class="govuk-input" id="ACCA" name="ACCA-input" type="text">
              
                        <!-- <details class="govuk-details " data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                            How to find your firm number or firm ID for ACCA
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <p>You can find this on the ACCA practising certificate.</p>
                            <p>If you cannot find your membership number, you should contact the AML supervisory body.</p>
                          </div>
                        </details>
               -->
                      </div>

                      <div class="govuk-form-group govuk-!-padding-top-3">
                        <label class="govuk-label l govuk-label--m" for="aat-member-id">
                          Association of Accounting Technicians (AAT)
                        </label>
                       
              
                        <input class="govuk-input" id="event-name" name="eventName" type="text">
              
                      </div>
              


               



                    </fieldset>
                  </div>
             
<!--
<div class="govuk-inset-text">
  You must have been registered with the AML supervisory body for at least 2 weeks.
</div> -->





  

      <!--   {{ govukInput({
          label: {
            text: "What is the membership number for Association of Accounting Technicians (AAT)?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This is also known as a member ID."
          },
          id: "event-name",
          name: "eventName"
        }) }}




      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                  How to find your membership number
          </span>
        </summary>
        <div class="govuk-details__text">
              <p>You can find this on your AAT approval letter and certificate.</a>
              </p>
          <p>If you cannot find your membership number, you should contact the AML supervisory body.</p>
        </div>
      </details> -->



        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
