{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us about the business – {{ serviceName }} – GOV.UK
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="company-details" method="post">


        <span class="govuk-caption-l">MORRIS ACCOUNTING </span>
        
        <h1 class="govuk-heading-l">Tell us about the business</h1>



        {{ govukInput({
          label: {
            text: "What is its legal form?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, sole trader."
          },
          id: "legal-form",
          name: "legal-form"
        }) }}



        {{ govukInput({
          label: {
            text: "What is the governing law?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This is the law that the business operates under"
          },
          id: "legal-form",
          name: "legal-form"
        }) }}



        {% set companyHtml %}

        {{ govukInput({
          id: "register-name",
          name: "register-name",
          value: registerName,
          hint: {
           text: "Include the full name. For example, Jersey Financial Services Commission."
         },
          label: {
            text: "Name of register"
          }
        }) }}

        {{ govukInput({
          id: "jurisdiction",
          name: "jurisdiction",
            value: registerJurisdiction,
          hint: {
          text: "For example, XXX."
        },
          label: {
            text: "State"
          }
        }) }}


        {{ govukInput({
          id: "bo-corp-public-register-number",
          name: "bo-corpe-public-register-number",
          value: boCorpPublicNumber,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Business registration number"
          }
        }) }}
 


        {% endset -%}

        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "Is the business already on a public register in the UK?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: companyHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
            
          ]
        }) }}







       <!--  {% set boCorpPublicRegisterHtml %}
        {{ govukInput({
          id: "bo-corp-public-register-name",
          name: "bo-corp-public-register-name",
          value: boCorpPublicName,
          hint: {
           text: "Include the full name. For example, Jersey Financial Services Commission."
         },
          label: {
            text: "Name of register"
          }
        }) }}

        {{ govukInput({
          id: "bo-corp-public-register-jurisdiction",
          name: "bo-corp-public-register-jurisdiction",
            value: boCorpPublicJurisdiction,
          hint: {
          text: "For example, Jersey."
        },
          label: {
            text: "Jurisdiction"
          }
        }) }}

        {{ govukInput({
          id: "bo-corp-public-register-number",
          name: "bo-corpe-public-register-number",
          value: boCorpPublicNumber,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Entity's registration number"
          },
          errorMessage: {
                  text: "Enter the entity's registration number"
                }
        }) }}

        {{ govukInput({
          id: "bo-corp-public-register-number",
          name: "bo-corp-public-register-number",
          value: boCorpPublicNumber,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Entity’s registration number"
          }
        }) }}

        {% endset -%}
 -->



        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


