{% set title = "Your company must be registered with an AML supervisory body" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="hmrc-are-you-confirmed" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Your HMRC supervision status
              </h1>
            </legend>


             <p>
                Check the <a href="https://www.gov.uk/guidance/money-laundering-regulations-supervised-business-register#check-if-a-business-is-registered" class="govuk-link" rel="noreferrer noopener" target="_blank">HMRC Supervised Business Register (opens in a new tab)</a> to make sure your status is 'approved'.  
              </p>
<p>If your status is ‘applied’, we cannot accept your application. You should save this application and wait until your status is approved before you submit it.</p>

<h2 class="govuk-heading-m">Is your HMRC supervision status approved? </h2>


            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hmrc-are-you-confirmed-yes" name="hmrc-are-you-confirmed" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="hmrc-are-you-confirmed-yes">
                  Yes, it’s approved 
                </label>
              </div>

             
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hmrc-are-you-confirmed-no" name="hmrc-are-you-confirmed" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="hmrc-are-you-confirmed-no">
                  No, it’s a different status
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
