{% extends "layouts/main.html" %}
{% block pageTitle %}
You have already submitted an application
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">You’ve already been added to an ACSP </h1>



             <p class="govuk-body">You cannot apply to register an Authorised Corporate Service Provider (ACSP) as your email address has already been added to an agent account for an ACSP.</p>

              
        <p>If you want to register another ACSP, you’ll need to remove yourself from the agent account first.</p>

        <p><a href="">Go to the agent account</a>.</p>

        <p>If you’ve been added to the account as a standard user, you’ll need to ask an account owner or administrator to remove you. </p>



    </div>
  </div>
{% endblock %}
