{% extends "layouts/main.html" %}

{% block pageTitle %}
ADD HERE – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Business type is not recognised</h1>
    <p class="govuk-body">
      Only recognised business types can apply to register as an authorised agent. 
    </p>
    <p class="govuk-body"><a class="govuk-link" href="type-of-acsp">Start the application again</a> to choose a different type of business.

      
    </p>
   <!-- <p class="govuk-body"> <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact us </a>if you have any questions.</p> -->
  </div>
</div>
{% endblock %}

