{% extends "layouts/main.html" %}

{% block pageTitle %}
ADD HERE – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You need to be supervised under your name</h1>
    <p class="govuk-body">
      As a sole trader, you must be supervised under your own name. You cannot be supervised under a business or trading name.
    </p>

    <p class="govuk-body"> <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/guidance/how-to-check-your-anti-money-laundering-aml-details">Read the Companies House guidance on AML supervision (opens in a new tab)</a> to find out what to do next.</p>

   
        
  
  
  </div>
</div>
{% endblock %}

