{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to prove your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You need to prove your identity
      </h1>

      <p class="govuk-body">To register an ACSP, you’ll need to verify your own identity. </p>
      
      <p class="govuk-body">You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a GOV.UK account – we’ll ask you to create or sign in to your account when you continue </li>
        <li>your photo ID</li>
        <li>your current home address (you might also need your previous address if you’ve recently moved) </li>
      </ul>

      {{ govukInsetText({
        text: "The information you give will only be used to verify your identity."
      }) }}


      <form class="form" action="../verify-identity/gov-login" method="post">

        

      
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
