{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<!--  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="register-an-acsp/start-page" method="get">

      <h1 class="govuk-heading-l">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body"> To register as an Authorised Corporate Service Provider (ACSP), you need to first prove your identity. </p>

      <p class="govuk-body">The registration needs to be made by the Money Laundering Reporting Officer (MLRO), a director or partner.</p>
      
      <p> You need to be registered and AML supervised in the UK.</p>

      <h2 class="govuk-heading-m">Before you start</h2>  


      <p class="govuk-body">To prove your identity, you'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a GOV.UK account – we’ll ask you to create or sign in to your account </li>
        <li>your photo ID</li>
        <li>your current home address (you might also need your previous address if you’ve recently moved) </li>
      </ul>


      <p class="govuk-body">To register as an ACSP, you'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>individual or company name </li>
          <li>registered office address </li>
          <li>legal form of the ACSP</li>
          <li>supervisory body of the ACSP</li>
        </ul>

      <p>Registering takes around 10 minutes.</p>

      {{ govukInsetText({
        html: '
            <h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
            <p>We will not show any information you provide on the public register. </p>'
      }) }}

      {{ govukButton({
        text: "Start now",
        href:"sign-in",
        isStartButton: true
      }) }}

   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>

 <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->

  </form>
  </div>
{% endblock %}
