{% extends "layouts/main.html" %}

{% block pageTitle %}
Your responsibilities as an ACSP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your obligations as an ACSP
      </h1>
      
      <ul class="govuk-list govuk-list--bullet">
        <li class= "govuk-!-padding-bottom-3">If you cease to be AML supervised, you must notify the registrar and provide information relating to the circumstances.</li>
        <li class= "govuk-!-padding-bottom-3"> If you change AML supervision, and are now supervised by another organisation, you MUST inform us of the new details.</li>
        <li class= "govuk-!-padding-bottom-3">If you change roles and no longer wish to be a point of contact for this ACSP, you must notify the registrar of the replacement officer details.</li>
      </ul>

      <form class="form" action="../check-your-answers" method="post">

        
      
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
