{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you registering as an individual or as a firm? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register-an-acsp/aml-details" method="post">

        {{ govukRadios({
          name: "registering-as",
          fieldset: {
            legend: {
              text: "Are you registering as an individual or as a firm?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "corporate",
              text: "registered with Companies House"
            },
            {
              value: "firm",
              text: "firm"
            },
            {
              value: "individual",
              text: "individual"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
