{% extends "layouts/main.html" %}

{% block pageTitle %}
Who is completing this registration? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register-an-acsp/acsp-name" method="post">

        {{ govukRadios({
          name: "registering-as",
          fieldset: {
            legend: {
              text: "Who is completing this registration?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },  
          hint: {
          text: "Enter the company name, or your own name if you are self-employed."
          },
          items: [
            {
              value: "mrlo",
              text: "Someone who is the Money Laundering Reporting Officer (MLRO)? "
            },
            {
              value: "someone-else",
              text: "Someone else"
            }
          ]
        }) }}

      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is an MRLO?
    </span>
  </summary>
  <div class="govuk-details__text">
    An MRLO is a person who is responsible for Anti-Money Laundering compliance within a business.    
  </div>
</details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
