{% extends "layouts/main.html" %}

{% block pageTitle %}
Details may not match those held by the AML supervisory body – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- The action will need to change depending on the location of the confirm-company page -->
      <form action="name-address-match-supervisor" method="post">

        <h1 class="govuk-heading-l">Check the Anti-Money Laundering (AML) details</h1>
        
        <!-- Confirm the details are the same as those held by the AML supervisory body -->

         <!-- Sole traders -->

      {% if (data['registering-as'] === "sole-trader")%}

    <p class="govuk-body">We have not been able to confirm these details with an automatic check. This is either because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you have entered incorrect details, or</li>
      <li>we're not able to confirm details automatically with your AML supervisory body</li>
    </ul>

    <p>Check the details are correct and change them if you need to.</p>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">James Morris</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory body and membership number
            </dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Association of Accounting Technicians</li>
                  <li>87654321</li>
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> AML professional supervisory body</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory body and membership number
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Association of Chartered Certified Accountants</li>
                <li>554-6325-4555</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> AML professional supervisory body</span>
              </a>
            </dd>
          </div>

        </dl>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="details-match">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Are the AML details correct?
      </h2>
    </legend>
    <div id="signIn-hint" class="govuk-hint">
      We’ll contact the AML supervisory body to confirm the details when you submit your application.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="details-correct" name="details-correct" type="radio" value="correct" aria-describedby="signIn-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn">
          Yes
        </label>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="details-incorrect" name="details-correct" type="radio" value="incorrect" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

 


        <!-- Firms -->

      {% else %}


 <p class="govuk-body">We have not been able to confirm these details with an automatic check. This is either because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you have entered incorrect details, or</li>
      <li>we're not able to confirm details automatically with your AML supervisory body</li>
    </ul>

    <p>You should check the details are correct and change them if you need to.</p>


<h2 class="govuk-heading-m">AML details for MORRIS ACCOUNTING LTD</h2>
      <dl class="govuk-summary-list">

     <!--   <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Company name</dt>
          <dd class="govuk-summary-list__value">MORRIS ACCOUNTING LTD</dd>
          <dd class="govuk-summary-list__actions"><a href="">Change</a></dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            AML professional supervisory body and membership number
          </dt>

              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Association of Accounting Technicians</li>
                  <li>87654321</li>
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> AML professional supervisory body</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              AML professional supervisory body and membership number
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Association of Chartered Certified Accountants</li>
                <li>554-6325-4555</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> AML professional supervisory body</span>
              </a>
            </dd>
        </div>

      </dl>


      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="details-match">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Are the AML details correct?
      </h2>
    </legend>
    <div id="signIn-hint" class="govuk-hint">
      We’ll contact the AML supervisory body to confirm the details when you submit your application.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="details-correct" name="details-correct" type="radio" value="correct" aria-describedby="signIn-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn">
          Yes
        </label>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="details-incorrect" name="details-correct" type="radio" value="incorrect" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>



      {% endif %}

   
        {{ govukButton({
          text: "Continue"
         }) }}


      </form>

      </p>
    </div>
  </div>
{% endblock %}
