{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of your business? – {{ serviceName }} 
{% endblock %}



{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="name-of-business" method="post">


        <!-- sole-trader -->

        {% if ((data['registering-as'] === "sole-trader")) %}
        

        {{ govukInput({
          label: {
            text: "What is the business name? (Optional)",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This is the name your business trades under, if it’s different to your own name."
          },
          id: "businessName",
          name: "businessName"
        }) }}

        {% else %}
        



        {{ govukInput({
          label: {
            text: "What is the business name?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This is the name your business trades under."
          },
          id: "businessName",
          name: "businessName"
        }) }}


        {% endif %}




   <!--   <form class="form" action="name-of-business" method="post">




        {{ govukInput({
          label: {
            text: "What is the name of your business?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "trading-name",
          name: "tradingName"
        }) }} -->

        


 <!--       {{ govukInsetText({
          text: "This must be the same as the name held by the anti-money laundering (AML) supervisory body. If the AML supervisory body has an incorrect name, you must update this before you apply. "
        }) }} -->

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
