{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body">Use this service to register your business as an authorised agent with Companies House. Authorised agents are also known as Authorised Corporate Service Providers (ACSPs). </p>


      <p>You'll need to register your business as an authorised agent to be able to <a href="">verify your clients' identities for Companies House</a>.  </p>

          <p>From XX DATE, businesses will also need to register to be able to file on behalf of clients.</p>






    <h2 class="govuk-heading-m">Who can apply</h2>

      <p class="govuk-body">To register your business as an authorised agent, you must be one of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>director</li>
        <li>general partner</li>
        <li>partner</li>
        <li>member</li>
        <li>sole trader</li>
      </ul>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     If you’re registering an unincorporated body or corporate body
    </span>
  </summary>
  <div class="govuk-details__text">
  
                              <h3 class="govuk-heading-s">Corporate body</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be the equivalent of a director. </p>
              <h3 class="govuk-heading-s">Unincorporated entity</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be a member of the governing body. </p>


              
  </div>
</details>

      <p class="govuk-body">
  You’ll be able to add other people who work for the business to the authorised agent account once you’ve registered.
</p>



<!--Prev version

    
     <div class="ch-info-panel">
        <div class="govuk-panel__body">
         <h2 class="govuk-heading-m">Verify your identity</h2>  

            <p class="govuk-body">You’ll need to verify your identity for Companies House before you can use this service.</p>
            <p class="govuk-body"> <img src="/public/images/ons-icon-arrow-circle-medium.png" alt="" height="40">   <strong><a class="govuk-link govuk-link--no-visited-state" href="/v14/verify-identity-prototype">
              Verify your identity for Companies House</a></strong>.
            </p>
          
</div>
</div>
       
        <h2 class="govuk-heading-m">What information you need to submit </h2>


<p class="govuk-body">You’ll need to:</p>


        <ul class="govuk-list govuk-list--bullet">
          <li>sign in or create an account</li>

          <li>give details about the business, or yourself if you’re a sole trader</li>
          <li>tell us which Anti-Money Laundering (AML) supervisory bodies the business is registered with</li>
          <li>give the AML membership numbers or IDs</li>
          <li>pay the £XX registration fee</li>
        </ul>

       <div class="govuk-inset-text">
 <p class="govuk-body">Read the <a href="guidance-applying-to-register">guidance on applying to register as an authorised agent</a> to check you have everything you need to apply.</p>
</div>

        </ul> -->


    
        <h2 class="govuk-heading-m">How to apply </h2>

        <h3 class="govuk-heading-s">1. Sign in and verify your identity</h3>

        <p>You'll need to sign in to, or create a GOV.UK One Login to use this service. The email address you use will be the one you use to access the authorised agent account once you've registered. </p>
          
          <p>We'll ask you to verify your identity when you sign in, if you have not already done this. To check what you'll need, read the <a href="">guidance about verifying your identity for Companies House</a href>. </p>

          <h3 class="govuk-heading-s">2. Tell us information about the business, or yourself if you're a sole trader</h3>
<p>The information you need to provide will depend on the type of business you're registering. To check you have everything you need, read the guidance on applying to register as an authorised agent.</p>



<h3 class="govuk-heading-s">3. Provide Anti-Money Laundering (AML) registration details</h3>
<p>You’ll need to tell us which AML supervisory bodies the business is registered with and provide the AML membership numbers or IDs. Contact your AML supervisory body if you need to check your details.</p>

<h3 class="govuk-heading-s">4. Pay the £55 registration fee</h3>
<p>You'll need to pay using a credit or debit card.</p>

        <!--
        <ol class="govuk-list govuk-list--number govuk-list--spaced">
          <li><strong>Verify your identity</strong>. We'll ask you to verify your identity when you sign in, if you have not already done this. To check what you'll need, read the <a href="">guidance about verifying your identity for Companies House</a href>.  </li>
          <li><strong>Tell us information about the business, or yourself if you're a sole trader.</strong> The information you need to provide will depend on the type of business you're registering. To check you have everything you need, read the <a href="">guidance on applying to register as an authorised agent</a>.
            </li>
          <li><strong>Provide Anti-Money Laundering (AML) registration details.</strong> You’ll need to tell us which AML supervisory bodies the business is registered with and provide the AML membership numbers or IDs. Contact your AML supervisory body if you need to check your details. 
            </li>
          <li><strong>Pay the £55 registration fee.</strong> You'll need to pay using a credit or debit card.
            </li>
        </ol> 
        -->





     

      <p class="govuk-body">You can save your answers and resume your application later if you need to. </p>

      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}


      <h2 class="govuk-heading-m">After you are registered as an authorised agent</h2>


      <p class="govuk-body">We’ll create an authorised agent account, which you’ll be able to access when you sign in to your Companies House account.</p>

      <p>Read the <a href="guidance-ACSPs">guidance for authorised agents</a> to find out how to use the authorised agent account. 

</p> 




    </div>


  </form>
  </div>
{% endblock %}
