{% extends "layouts/main.html" %}

{% block pageTitle %}
Your responsibilities as an ACSP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">JAMES ACCOUNTING LTD</span>
      <h1 class="govuk-heading-l">
        What you’ll need to do as an ACSP
      </h1>
      
      <p class="govuk-body">Once registered, you must provide details about any changes to the ACSP’s Anti-Money Laundering (AML) registration. This includes if the:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>ACSP is no longer registered with an AML supervisory body</li>
          <li>AML registration details change, for example if the ACSP registers with a different AML supervisory body</li>
        </ul>

      <p class="govuk-body">If you are no longer the person who is responsible for AML compliance at the ACSP, the ACSP must give details for a new relevant officer.</p>
      <p class="govuk-body">ACSPs must keep records of any identity verification checks they complete. We may ask for more information on individual checks if we need to.</p>

      <p>[Placeholder content - subject to secondary legislation.]</p>

      <form class="form" action="../check-your-answers" method="post">

        
      
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
