{% extends "layouts/main.html" %}

{% block pageTitle %}
What are you registering as? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register-an-acsp/who-is-making-filing-check" method="post">

        
        {{ govukRadios({
          name: "registering-as",
          fieldset: {
            legend: {
              text: "What type of business are you registering?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You must be registered in the UK. "
          },
          items: [
            {
              value: "corporate",
              text: "Corporate entity that is on the Companies House register"
            },
            {
              value: "firm",
              text: "Corporate entity that is not on the Companies House register"
            },
            {
              value: "individual",
              text: "Self-employed individual"
            }
          ]
        }) }}




        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
