{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="statement-relevant-officer" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="relevant-officer-confirm">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Confirm you are the relevant officer
              </h1>
            </legend>
            <div id="relevant-officer-confirm" class="govuk-hint">
              We will use your details if we need to contact the agent.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="relevant-officer" name="relevant-officer" type="radio" value="relevant-officer-yes" aria-describedby="relevant-officer-confirm">
                <label class="govuk-label govuk-radios__label" for="relevant-officer">
                  I confirm that I am the relevant officer for the agent
                </label>

                <!-- Limited company - director/MLRO -->
                {% if ((data['registering-as'] === "corporate"))  %}
                <div id="relevant-officer-yes-confirm" class="govuk-hint govuk-radios__hint">
                  This could be a director or a Money Laundering Reporting Officer (MLRO).
                </div>
                
                <!--  Sole trader -Director(THE SOLETRADER) and MLRO -->
                {% elseif ((data['registering-as'] === "sole-trader")) %}
                <div id="relevant-officer-yes-confirm" class="govuk-hint govuk-radios__hint">
                  This could be a director or a Money Laundering Reporting Officer (MLRO).
                </div>

                <!-- Limited liability partnership (LLP) - member/MLRO -->
                {% elseif ((data['registering-as'] === "llp")) %}
                <div id="relevant-officer-yes-confirm" class="govuk-hint govuk-radios__hint">
                  This could be a member or a Money Laundering Reporting Officer (MLRO).
                </div>
                <!-- Limited partnership, Scottish limited partnership (SLP) and Partnership  -- Partner/MLRO -->
                {% else %}
                <div id="relevant-officer-yes-confirm" class="govuk-hint govuk-radios__hint">
                  This could be a partner or a Money Laundering Reporting Officer (MLRO).
                </div>
                {% endif %} 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="relevant-officer-no" name="relevant-officer-no" type="radio" value="govuk-verify" aria-describedby="relevant-officer-no-confirm">
                <label class="govuk-label govuk-radios__label" for="sign-in-2">
                  I am someone else
                </label>
               <!--  <div id="relevant-officer-no-confirm" class="govuk-hint govuk-radios__hint">
                  You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.
                </div> -->
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form> 

    </div>
  </div>

{% endblock %}


