{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        View and update the authorised agent's details
      </h1>

<p>Use this service to view and update details for JAMES MORRIS ACCOUNTING LTD.</p>

{{ govukWarningText({
  text: "If any of the details we hold about the authorised agent change, you must update them within 14 days",
  iconFallbackText: "Warning"
}) }}

<p>You’ll need to tell us if there are any changes to the: </p>

                 <ul class="govuk-list govuk-list--bullet">
                    <li>agent's Anti-Money Laundering (AML) registration details </li>
                    <li>details we hold about the business</li>
                  </ul>
<!--
          <p>We hold different details depending on the type of business an agent is. Select continue to view which details we hold for this authorised agent.</p> -->
     <h2 class="govuk-heading-m">Updating your AML registration details </h2>  

      <p class="govuk-body">You need to update the AML registration details if the agent has registered with a different AML supervisory body, or the AML membership number changes. </p>

      <p>The agent must always be registered with at least one AML supervisory body. </p>

     <h3 class="govuk-heading-s">Adding details for a new registration</h3>  

      <p>If the agent has registered with a new AML supervisory body, you’ll need to tell us the:</p>
                 <ul class="govuk-list govuk-list--bullet">
                  <li>name of the AML supervisory body</li>
                  <li>AML membership number or ID</li>
                </ul>
     <h3 class="govuk-heading-s">Updating details for an existing registration </h3>  
     <p>You cannot edit the details for an existing registration. If there has been a change, for example, the agent has a new membership number or ID from the supervisory body, you will need to add this as a new registration. </p>
     <p>You’ll need to delete the previous details once you’ve added the new ones. </p>

     <p class="govuk-!-margin-bottom-9">It takes around 5 minutes to use this service.</p>


      {{ govukButton({
        text: "Continue",
        isStartButton: true
      }) }}



<!--
            <h2 class="govuk-heading-m">What information we publish</h2>  


      <p class="govuk-body">If we need to suspend a business from acting as an authorised agent, or if a business stops being an authorised agent, we’ll publish the:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>name of the business</li>
          <li>status - to show if it has been suspended, or if it has stopped being an authorised agent</li>
          <li>date the status changed</li>
          </ul>
-->

   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>



  </form>
  </div>
{% endblock %}
