{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        View and update the authorised agent's details
      </h1>




      <!-- Sole traders -->

      {% if (data['prototype-set-up'] === "sole-trader")%}


      <p class="govuk-body">Use this service to view and update details for James Morris. </p>



         <p class="govuk-body">You can view and update:</p>
                 <ul class="govuk-list govuk-list--bullet">
                  <li>your name </li>
                  <li>the name of your business </li>
                  <li>the country you live in</li>
                  <li>your correspondence address </li>
                  <li>your correspondence email address</li>
                  <li>your Anti-Money Laundering (AML) registration details </li>
                </ul>

      <p class="govuk-body">If your details have changed, you must update them within 14 days.</p>


      <h2 class="govuk-heading-m">Updating your AML registration details </h2>  

      <p class="govuk-body">You can add, update or remove details about AML supervisory bodies you are registered with. </p>

      <p>If you have registered with a new AML supervisory body, you’ll need the: 
</p>

                 <ul class="govuk-list govuk-list--bullet">
                  <li>name of the AML supervisory body</li>
                  <li>AML membership number or ID </li>
                  </ul>

      <p>Authorised agents must always be registered with at least one AML supervisory body.</p>

    <!--  <p>You can remove details for an AML supervisory body if the agent is no longer registered. If it’s the only supervisory body we currently have details for, you’ll need to add registration details for another supervisory body first. </p> -->


      <!-- Limited companies, LLPs or LPs -->

       {% elseif ((data['prototype-set-up'] === "limited")) %}



   <p class="govuk-body">Use this service to view and update details for JAMES MORRIS ACCOUNTING LTD. </p>



         <p class="govuk-body">You can view and update the authorised agent's:</p>
                 <ul class="govuk-list govuk-list--bullet">
                  <li>name </li>
                  <li>correspondence address</li>
                  <li>registered office address</li>
                  <li>correspondence email address</li>
                  <li>Anti-Money Laundering (AML) registration details</li>
                </ul>

      <p class="govuk-body">If the agent's details have changed, you must update them within 14 days.</p>


      <h2 class="govuk-heading-m">Updating your AML registration details </h2>  

      <p class="govuk-body">You can add, update or remove details about AML supervisory bodies the agent is registered with. </p>

      <p>If the agent has registered with a new AML supervisory body, you’ll need the: 
</p>

                 <ul class="govuk-list govuk-list--bullet">
                  <li>name of the AML supervisory body</li>
                  <li>AML membership number or ID </li>
                  </ul>

      <p>Authorised agents must always be registered with at least one AML supervisory body.</p>

    <!--  <p>You can remove details for an AML supervisory body if the agent is no longer registered. If it’s the only supervisory body we currently have details for, you’ll need to add registration details for another supervisory body first. </p> -->



      <!--non-registrable partnerships -->
      {% elseif ((data['prototype-set-up'] === "partnerships")) %}




   <p class="govuk-body">Use this service to view and update details for James Morris Partnership. </p>



         <p class="govuk-body">You can view and update the authorised agent's:</p>
                 <ul class="govuk-list govuk-list--bullet">
                  <li>name </li>
                  <li>correspondence address</li>
                  <li>business address</li>
                  <li>correspondence email address</li>
                  <li>Anti-Money Laundering (AML) registration details</li>
                </ul>

      <p class="govuk-body">If the agent's details have changed, you must update them within 14 days.</p>


      <h2 class="govuk-heading-m">Updating your AML registration details </h2>  

      <p class="govuk-body">You can add, update or remove details about AML supervisory bodies the agent is registered with. </p>

      <p>If the agent has registered with a new AML supervisory body, you’ll need the: 
</p>

                 <ul class="govuk-list govuk-list--bullet">
                  <li>name of the AML supervisory body</li>
                  <li>AML membership number or ID </li>
                  </ul>

      <p>Authorised agents must always be registered with at least one AML supervisory body.</p>




            {% endif %}


      <p>It takes around 5 minutes to use this service.</p>

      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}



<!--
            <h2 class="govuk-heading-m">What information we publish</h2>  


      <p class="govuk-body">If we need to suspend a business from acting as an authorised agent, or if a business stops being an authorised agent, we’ll publish the:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>name of the business</li>
          <li>status - to show if it has been suspended, or if it has stopped being an authorised agent</li>
          <li>date the status changed</li>
          </ul>
-->

   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>



  </form>
  </div>
{% endblock %}
