{% extends "layouts/main.html" %}

{% block pageTitle %}
Guidance - Applying to register as a Companies House authorised agent - {{serviceName}}
- GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Filing with Companies House on behalf of clients</h1>

      <p class="govuk-body-l">Agents filing on behalf of clients will need to register as an Authorised Corporate Service Provider (ACSP). This is also known as a Companies House authorised agent. </p>


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#what">
               Who can file with Companies House on behalf of clients
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#who">
                Who needs to register as an authorised agent
              </a>
            </li>


            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#account">
                How to use your authorised agent account
              </a>
            </li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#responsilibilities">
                Legal responsibilities for authorised agents
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#enforcement">
                What happens if you do not comply with your legal responsibilities 
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#services">
                Services for authorised agents
              </a>
            </li>

          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      

      <h2 id="what" class="govuk-heading-m">Who can file with Companies House on behalf of clients
 </h2>

<p>From XX date, only agents that have registered as an Authorised Corporate Service Provider (ACSP), can file with Companies House on behalf of clients. ACSPs are also known as Companies House authorised agents. </p>


<p>This is a new legal requirement that will help us to know who's filing information on the public register.</p>

<p>To be able to register, agents must be supervised by a UK Anti-Money Laundering (AML) supervisory body. For example, this could include:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>company formation agents</li>
              <li>solicitors </li>
              <li>accountants</li>
            </ul>

  <p>An agent can be a business (for example, a limited company or partnership), or an individual who files on behalf of others (sole trader). </p>
  <!--<p>If you’re registering a business as an authorised agent, the registration is for the business itself. You’ll be able to add employees to the agent account once it’s registered. </p> -->







      <h2 id="who" class="govuk-heading-m">Who needs to register as an authorised agent</h2>

      
      <p>For now, only agents that intend to <a href="">verify the identity of clients for Companies House</a> need to register. </p>

    <!--  <p>The service to <a href="">tell Companies House you’ve verified someone’s identity</a> will be available from XX DATE. </p> -->

      <p>From spring 2026, agents that file any other information on behalf of clients will also need to register.</p>

      <p>To apply to register, you must have a senior role in the business. For example, you must be a director if you’re registering a limited company, a general partner if you're registering a limited partnership (LP), or a member of the partnership if you're registering a partnership or Limited Liability Partnership (LLP).</p><p> Sole traders can register themselves as an authorised agent.</p>

<div class="govuk-inset-text">

      <p>Once a business is registered, we'll create an online account for the authorised agent. You’ll be able to add other people who work for the agent to the account. This will allow them to use services for the authorised agent. </p>
</div>
      <p>Read the <a href="guidance-applying-to-register">guidance on applying to register as an authorised agent</a> to check if you can apply. </p>





      <h2 id="account" class="govuk-heading-m">How to use your authorised agent account</h2>

      <p>You’ll be able to access the authorised agent account when you sign in to your Companies House account. </p>

            <h3 id="submit-information" class="govuk-heading-s">Add and remove users</h3>

      <p>You should add people who work for the business if they need to use Companies House services. They will not need to verify their identity.</p>

    <p>You can manage what users can do by selecting their role when you add them to the account. There are 3 roles users can have for an authorised agent:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>account owners – can update the authorised agent's details, and add and remove all users </li>
              <li>administrators – can add and remove administrators and standard users</li>
              <li>standard users – cannot add and remove other users</li>
            </ul>

    <p>You can remove users from the account at any time. Once you remove a user, they will no longer be able to access the account or services for the authorised agent.</p>



       <h3 class="govuk-heading-s">Update the authorised agent's details  </h3>

       <p>An account owner must: 
        
                    <ul class="govuk-list govuk-list--bullet">
                      <li>update the details on the authorised agent account if there are any changes to the information we hold about the agent – they must do this within 14 days</li>
                      <li>close the authorised agent account if the agent is no longer registered with an AML supervisory body</li>
                      </ul>

       <!-- <p>If the agent is no longer an authorised agent, an account owner will need to close the account. </p> -->


<!--

<h3 class="govuk-heading-s">What happens if we need to suspend or stop an authorised agent</h3>

      <p>We will suspend or stop an authorised agent if it does not comply with its legal responsibilities.</p>

<p>If the authorised agent is suspended, we'll send an email to the agent's correspondence email address with information about what to do next. </p>

<p>Users that have been added to the account will not be able to access services for the authorised agent.</p>

<p>People who have had their identity verified by the agent for Companies House may need to verify their identity again.</p>

<p>We'll also publish information to show that the authorised agent has been suspended. We'll publish the agent's name and the date it was suspended. </p>


<p>If we need to stop an agent from acting as an authorised agent, we'll: </p>

              <ul class="govuk-list govuk-list--bullet">
                <li>send an email to the agent's correspondence email address</li>
                <li>close the online account - users will not be able to access the agent account or services</li>
                <li>publish the agent's name and the date it stopped being an authorised agent</li>
              </ul>

<p>We may also need to ask people who have had their identity verified by the agent to verify again.</p> -->

      <h2 id="responsilibilities" class="govuk-heading-m">Legal requirements for authorised agents</h2>

      <p>Companies House authorised agents must comply with the following legal requirements.</p>


<ol class="govuk-list govuk-list--number">
  <li>The agent must always be registered with at least one Anti-Money Laundering (AML) supervisory body.</li>
  <li>An account owner must tell us if there is a change to any of the information we hold about the agent. They must do this within 14 days.</li>
  <li>If we request it, the agent must provide more information:</li>
    <ul class="govuk-list govuk-list--bullet">
        <li>about the agent's filings with Companies House</li>
        <li>about identity checks, if the agent verifies someone’s identity for Companies House</li>
        <li>to prove the agent is complying with its legal responsibilities</li>
        </ul>
 
<li>The agent must keep records of any identity checks for 7 years, if it has verified someone's identity for Companies House.</li>
</ol>


      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    We may suspend or stop authorised agents that do not comply with these requirements. Anyone who has a senior role for the agent, such as directors, could receive a fine or face criminal prosecution.  
  </strong>
</div>

   <!--   <h3 class="govuk-heading-s">Keep the agent details up to date</h3>

        <p>You must tell us if there is a change to any of the information that was provided in the application to register. If there are changes to the AML registration details, you must tell us within 14 days. </p>
        <p>You can do this using the ‘Update authorised agent's details’ service in the authorised agent account. </p>


      <h3 class="govuk-heading-s">Keep records of your filings with Companies House </h3>

      <p>If we request it, you must provide more information about:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>your filings with Companies House</li>
              <li>identity checks, if you have verified someone’s identity for Companies House</li>
            </ul>
      <p>If you verify the identity of clients for Companies House, you must keep records of the checks you carry out. You must keep these for 7 years from the date you complete the checks.</p> -->

            <h2 id="enforcement" class="govuk-heading-m">What happens if we need to suspend or stop an authorised agent </h2>

              <p>We will suspend or stop an authorised agent if it does not comply with its legal responsibilities. </p>
          
            <h3 class="govuk-heading-s">If we need to suspend an authorised agent</h3>
            <p>We'll send an email to the agent's correspondence email address with information about what to do next.</p>

            <p>We may need to ask the agent to provide more information or records about their filings. The agent will have 28 days to do this. </p>

            <p>Users that have been added to the authorised agent account will not be able to access services for the authorised agent. This means they will not be able to file on behalf of the agent while it is suspended. </p>

            <p>People who have had their identity verified by the agent for Companies House may need to verify their identity again. We will contact anyone who needs to do this. </p>

            <p>We’ll also publish information to show that the authorised agent has been suspended. We’ll publish the agent’s name, status and the date it was suspended.</p>

            <h3 class="govuk-heading-s">If we need to stop an authorised agent</h3>

            <p>We will: </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>send an email to the agent’s correspondence email address</li>
                  <li>close the online account – users will not be able to access the agent account or services</li>
                  <li>publish the agent’s name, status and the date it was disqualified</li>
                  <li>contact anyone whose identity the agent has verified, if they need to verify again</li>
                </ul>



            <h2 id="services" class="govuk-heading-m">Services for authorised agents</h2>
      <p>All users that have been added to an authorised agent account will be able to access services for authorised agents when they sign in to their Companies House account. </p>

            <h3 class="govuk-heading-s">Tell Companies House you've verified someone's identity</h3>
            <p>From XX DATE, you can use this service to tell us when you've verified someone's identity for Companies House.</p>

            <p>If you use this service, you must keep records of the identity checks you do for 7 years. </p>

            <h3 class="govuk-heading-s">File as an authorised agent</h3>
            <p>From XX DATE, you'll be able to file on behalf of clients as an authorised agent.</p>



  


      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>


    </div>




  </main>
</div>






    </div>
  </div>

{% endblock %}
