{% extends "layouts/main.html" %}

{% block pageTitle %}
Guidance - Applying to register as a Companies House authorised agent - {{serviceName}}
- GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Applying to register as a Companies House authorised agent </h1>
      <p class="govuk-body-l">How to use our service to register as as an Authorised Corporate Service Provider (ACSP). This is also known as a Companies House authorised agent.</p>


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#step1">
               1. Check you can apply
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step2">
                2. Verify your identity
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#step3">
                3. Tell us about the business
              </a>
            </li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#step4">
                4. Tell us the Anti-Money Laundering (AML) registration details
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#step5">
                5. Confirm your legal responsibilities
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#step6">
                6. After you've registered
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      

          <p>To <a href="">verify the identity of clients for Companies House</a>, agents must register as an Authorised Corporate Service Provider (ACSP). This is also known as an authorised agent. </p>

        <!--  <p>In the future, agents will also need to register to be able to file on behalf of clients.</p> -->

          <p>The agent must follow Anti-Money Laundering (AML) Regulations which apply to businesses in the financial sector. Read the <a href="https://www.gov.uk/anti-money-laundering-registration">guidance on anti-money laundering registration</a> to find out more about the types of business the regulations apply to. </p>


      <h2 id="step1" class="govuk-heading-m">1. Check you can apply</h2>

      <p>If you are a sole trader, you can register yourself as an authorised agent.</p>


      <p>To register a business as a Companies House authorised agent, you must have a senior role. You must be one of the following: </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>director</li>
              <li>general partner</li>
              <li>partner</li>
              <li>member</li>
                </ul>
        <p>You’ll be able to add other people who work for the business to the agent account once it's registered.</p>




<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     If you’re registering a corporate body or an unincorporated entity  
    </span>
  </summary>
  <div class="govuk-details__text">

  <h3 class="govuk-heading-s">Corporate body</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be the equivalent of a director. </p>

              <h3 class="govuk-heading-s">Unincorporated entity</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be a member of the governing body. </p>

                            
              
  </div>
</details>

<!--

    <p>You'll be able to add other people who work for the agent to the authorised agent account once you’ve registered. This will allow them to use services for the authorised agent.</p> -->
<!--
<div class="govuk-inset-text">
  You'll be able to authorise employees who need to file for the agent once you have registered.
</div> -->
      <h2 id="step2" class="govuk-heading-m">2. Verify your identity</h2>
      
      <p>You'll need to <a href="#">verify your identity for Companies House</a> before you can use the online service to register an authorised agent. </p>

      <p>If you have not verified before you start your application, we'll ask you to do it when you start.</p>

   <!--   <p>Only the person who is registering the authorised agent will need to do this. If you add other people to the authorised agent account once you have registered, they will not need to verify their identity. </p> -->





      <h2 id="step3" class="govuk-heading-m">3. Tell us about the business</h2>


  <p>The details you need to give will depend on the type of business you’re registering. </p>



     <h3 class="govuk-heading-s">Limited companies and limited liability partnerships (LLPs)</h3>

       
       <p> You'll need to tell us the:</p>

              <ul class="govuk-list govuk-list--bullet">

                <li>company number</li>
                <li><a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing">company authentication code</a></li>
                <li>correspondence address</li>
                <li>email address for correspondence</li>

              </ul>

              <p>We'll also ask which <a href="https://www.gov.uk/guidance/money-laundering-regulations-who-needs-to-register">business sector</a> you work in. This is optional. </p>







       <h3 class="govuk-heading-s" id="sole-trader">Sole traders</h3>

       <p>This could mean you are self-employed and registered with HMRC for Self Assessment.</p>


<p>You'll need to tell us:</p>


              <ul class="govuk-list govuk-list--bullet">
                <li>your name</li>
                <li>your business name, if you have one</li>
                <li>your date of birth</li>
                <li>your nationality</li>
                <li>the country you live in (if you live in the UK, you'll need to tell us which part)</li>
                <li>your correspondence address (this must be in the UK)</li>
                <li>your email address for correspondence</li>
                <li>if your supervisory body holds your name, your business name, or both</li>
              </ul>

              <p>We'll also ask which <a href="https://www.gov.uk/guidance/money-laundering-regulations-who-needs-to-register">business sector</a> you work in. This is optional. </p>

<h3 class="govuk-heading-s">Other types of business </h3>
<p>If you’re registering:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>a limited partnership (LP)</li>
                <li>a partnership</li>
                <li>a corporate body (not including limited companies or limited liability partnerships)</li>
                <li>an unincorporated entity (not including sole traders)</li>
                </ul>

<p>You'll need to tell us the:</p>

              <ul class="govuk-list govuk-list--bullet">
                  <li>business name</li>
                  <li>business address (this must be in the UK)</li>
                  <li>correspondence address</li>
                <li>email address for correspondence</li>
                  </ul>


  <p>If you are registered with the AML supervisory body with your own name, you'll need to give your name. Otherwise, we’ll check the AML supervisory body holds the business name. </p>


                  <p>We'll also ask which <a href="https://www.gov.uk/guidance/money-laundering-regulations-who-needs-to-register">business sector</a> you work in. This is optional. </p>


      <h2 id="step4" class="govuk-heading-m">4. Tell us the Anti-Money Laundering (AML) registration details</h2>


<p>The business must be registered with a <a href="https://www.gov.uk/anti-money-laundering-registration">UK AML supervisory body</a>. 
</p>
<p>You'll need to tell us the:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>names of the supervisory bodies the business is registered with</li>
                <li>AML membership numbers or IDs</li>
              </ul>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     Help to find your membership number
    </span>
  </summary>
  <div class="govuk-details__text">
              <p>Depending on your supervisory body, you may be able to find this on:  </p>

                          <ul class="govuk-list govuk-list--bullet">
                            <li>your practising certificate</li>
                            <li>communications from the supervisory body</li>
                            <li>the supervisory body's online register</li>
                          </ul>
          <p>Your AML supervisory body may have a different name for it, such as:</p>
                           <ul class="govuk-list govuk-list--bullet">
                            <li>a firm ID or number</li>
                            <li>a regulation ID</li>
                            <li>an AML ID</li>
                            </ul>
          <p>You should contact the AML supervisory body if you need to check your details.</p>

  </div>
</details>



      <p>We'll confirm the supervisory body has the same name and membership number for your business. If the details do not match, we'll reject your application. </p>

      <p>If you're registering a limited company or LLP, we’ll check your AML supervisory body holds the company name that’s shown on the <a href="">Companies House register</a>. If the AML registration is in a different name, you’ll need to update this before you apply.</p>

      <p>It may take us longer to confirm these details if you have only recently registered with the AML supervisory body.</p>
      

      <!--

      <h3 class="govuk-heading-s">Which name we'll check with the supervisory body</h3>

      <p>If you’re applying to register any of the following: </p> 
                           <ul class="govuk-list govuk-list--bullet">
                            <li>limited company</li>
                            <li>limited partnership (LP)</li>
                            <li>limited liability partnership (LLP)</li>
                            </ul>
      <p>We'll use the company name that's shown on the <a href="">Companies House register</a>. If the AML registration is in a different name, you should update this to match the company name before you apply.  </p>

            <p>If you’re registering any other type of business, you’ll be able to tell us what name is registered with the AML supervisory body. </p> -->



    <h2 id="step5" class="govuk-heading-m">5. Confirm your legal responsibilities</h2>

    <p>You'll need to confirm you accept your legal responsibilities as an authorised agent.</p>

    <p>Once registered, authorised agents must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>always be registered with at least one UK AML supervisory body</li>
            <li>tell us about any changes to the authorised agent's details</li>
            <li>keep records and provide more information about filings with Companies House if requested</li>
          </ul>

        <p>For more information about the authorised agent's responsibilities and how to comply, read the <a href="guidance-ACSPs">guidance for authorised agents</a>.</p> 





 <div class="ch-info-panel">
        <div class="govuk-panel__body">
         <!-- <h3 class="govuk-heading-s">Verify your indentity </h3> -->

            <p class="govuk-body"> <img src="/public/images/ons-icon-arrow-circle-medium.png" alt="" height="40">   <strong><a href="start-page-under-review">Apply to register as a Companies House authorised agent</a></strong>.
            </p>
          
</div>
</div>
  


    <h2 id="step6" class="govuk-heading-m">6. After you've registered</h2>

      <p>If your application is accepted, we'll register your business as an authorised agent. </p>

      <p>We’ll create an authorised agent account for the business. You’ll be able to access this and services for authorised agents when you sign in to your Companies House account. </p>

      <p>Read the <a href="guidance-ACSPs">guidance for authorised agents</a> to find out how to manage your agent account, including how to add other users.</p>


      <h3 class="govuk-heading-s">What information we'll publish online</h3>
   <p>We will not publish information to show that a business has registered as an authorised agent. </p>
   <p>However, if we need to suspend a business from acting as an authorised agent, or if a business stops being an authorised agent, we’ll publish the:  
 </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>name of the business or sole trader</li>
              <li>status - to show if it has been suspended, or if it has stopped being an authorised agent</li>
              <li>date the status changed</li>
          </ul>


    <p>If a person uses an authorised agent to verify their identity, we'll show some information about the agent that has verified them.  </p>
    <p>When the person connects their verified identity to our records, we'll show the:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>name of the authorised agent</li>
                <li>
                  names of the Anti-Money Laundering (AML) supervisory bodies the agent is registered with</li>
              </ul>






      
  


      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>


    </div>




  </main>
</div>






    </div>
  </div>

{% endblock %}
