{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start - Verify your identity 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-xl">
        Steps to verify someone's identity for Companies House
      </h1>

<p class="govuk-body-m">You can use these steps to meet our identity verification standard when verifying someone’s identity for Companies House.</p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-1">
             1. Ask for information about the person’s identity
              </a>
            </li>
            
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-2">
              2. Get evidence to verify the person’s identity
              </a>
            </li>   
  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#docs">
               3. Documents you can use as evidence
              </a>
            </li>  
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-3">
               4. Check the evidence is real 
              </a>
            </li>   



                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-5">
               5. Check the identity belongs to the person claiming it

              </a>
            </li>  

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#records">
               6. Keep records of the identity checks
              </a>
            </li>  

         
          </ol>
        </nav>
      </aside>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">


   <p>When you verify someone’s identity for Companies House, you must meet our identity verification standard to comply with your legal responsibilities as an Authorised Corporate Service Provider (ACSP). This is also known as a Comapnies House authorised agent.</p>

   <div class="govuk-inset-text">The following checks outline the minimum you must do to meet the standard. You must do each of the checks listed in this guidance. </div>

   <!--
   <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    If your identity checks do not meet the required standard, we could suspend or stop your business from acting as an authorised agent.
  </strong>
</div> -->
    
        <h2 class="govuk-heading-l" id="step-1">1. Ask for information about the person </h2>


    <p>The person will need to give you their:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>full name and any former names</li>
              <li>date of birth</li>
              <li>home address</li>
              <li>address history for the last 12 months</li>
              <li>email address</li>
            </ul>  
   


      <h2 class="govuk-heading-l" id="step-2">2. Get evidence to verify the person’s identity</h2>

      <p>You’ll need to ask to see documents as evidence to verify the person's identity. You must use <a href="">documents from the approved list</a> to meet the standard.</p>

      <p>You will need to keep copies of the documents for 7 years from the date you complete the identity checks.</p>

      <p>You will not need to submit copies when you tell us you've verified someone's identity. However, we will ask for information about the documents. You'll need to give the:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>document reference number, or equivalent</li>
              <li>expiry date, if the document has one</li>
              <li>country of issue, if the document has one</li>
            </ul>

     <!-- <p>There are 2 options to do this, you must use option 1 if you can. The evidence you need to ask for will depend on which option you use.  
        The following options 
 </p> -->


<!--
      <div class="govuk-inset-text">
  You cannot use documents that have expired to verify someones identity. However, the person will not need to verify again if a document expires after you have completed identity checks.
</div>

      <p>Where we've included an issuing country or authority for a document, you cannot accept a foreign equivalent.</p>

 -->

  


      <h2 class="govuk-heading-l" id="step-3">4. Check the evidence is real</h2>


    <!--  <p>If you're using technology to check evidence, you must make sure the information held in the electronic chip matches the information on the document. </p> -->
      <p>If the evidence is being checked by a person, they must be trained in detecting false documents by a specialist training provider. This could be any organisation that follows the Home Office best practice guide, including: </p>

      <ul class="govuk-list govuk-list--bullet">
              <li>Home Office (HO)</li>
              <li>National Document Fraud Unit (NDFU)</li>
              <li>National Protective Security Authority (NPSA)</li>
            </ul>


      <p>You should always check identity documents for signs of tampering. You must query if there are any signs of damage to a document, especially if it's in an area where personal details are shown. </p>


      <p>If you have concerns about a document, contact the issuing authority or another authoritative source to check.</p>
      <p>For documents issued by a country outside of the UK, you should contact the relevant embassy if you have concerns.  </p>




      
      <h2 class="govuk-heading-l" id="step-4" >5. Check the identity belongs to the person claiming it </h2>

     <p>You’ll need to check that: </p>
           <ul class="govuk-list govuk-list--bullet">
            <li>the documents confirm their name and date of birth</li>
  <li>information held in the electronic chip matches the information on the document and the person claiming it, if you're using IDVT to check the document</li> 
            <li>the person physically matches the photo that is on, or goes with the document </li>

          </ul>

          <p>If you are verifying the person remotely, you must make sure they are a real person. You will need to clearly see their face to compare it with the photo that is on the identity document. </p>


   <!--   <h2 class="govuk-heading-l" id="copies" >Make copies of the identity documents</h2>

 <p>You do not need to submit copies of the documents you use to verify their identity. However, you must keep copies of the documents for 7 years from the date you complete the identity checks.</p>
  
  <p>When you tell us you've verified someone's identity, you'll need to tell us which identity documents you used. For each document, you'll need to give the:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>document reference number, or equivalent</li>
                    <li>expiry date, if the document has one</li>
                    <li>country of issue, if the document has one</li>
                    </ul>


      <h2 class="govuk-heading-l" id="step-5">Check the person’s identity has existed over time</h2>

      <p>The following steps will help you to confirm the identity has existed over time. This will lower the risk of you accepting: </p>
             <ul class="govuk-list govuk-list--bullet">
                <li>a fake identity</li>
                <li>an identity that belongs to someone who has died</li>
              </ul> -->

<p>SHOULD WE ADD SOMETHING HERE TO EXPLAIN WHY THE FOLLOWING CHECKS WILL HELP THEM CONFIRM THE IDENTITY BELONGS TO PERSON CLAIMING IT? FOR EXAMPLE:</p>
<p>The following checks will help you to confirm it is a real identity that has existed over time. </p>

      <h3 class="govuk-heading-m">Check their address history</h3>

      <p>The person will need to give you their address history for the last 12 months. Where possible, you should ask to see documentation to confirm the address history.</p>

      <h3 class="govuk-heading-m">Check if they have changed their name</h3>
      <p>You must ask the person about any previous name changes. You should ask them to show you documentation to support any changes of name.</p>
      <p>If they cannot show you proof of the name change, you should find out why and consider whether to verify their identity.</p>

       <h3 class="govuk-heading-m">Check if they have regularly interacted with other organisations or people</h3>
      <p>To make sure the identity belongs to a real person, you should ask to see evidence of activity you would expect. </p>

      <p>To do this, you could check:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>a bank or credit card statement for recent transactions</li>
            <li>utility or council tax bills, sent the person’s home address </li>
            <li>if their passport has been used recently or over time </li>
          </ul>

 
          <h2 class="govuk-heading-l" id="records" >6. Keep records of the identity checks</h2>

          
          <p>You must keep records of all the evidence and information you used to verify someone’s identity. You must keep these for 7 years from the date you complete their identity verification.</p>
          <p>This includes: </p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>copies of the documents you checked</li>
            <li>evidence of the identity checks you complete</li>
            <li>records of any failed verification attempts</li>
            </ul>

      <h2 class="govuk-heading-l" id="step-6" >Tell Companies House you have verified someone’s identity</h2>
      
      <p>Once you have verified someone’s identity, you’ll need to use our online service to:</p> 
                          <ul class="govuk-list govuk-list--bullet">
                            <li>tell us the person’s details</li>
                            <li>tell us which documents you used to verify their identity</li>
                            <li>give details from the identity documents</li>
                            <li>confirm you have completed checks to verify their identity to the required standard</li>
                          </ul>
     



 <div class="ch-info-panel">


        <div class="govuk-panel__body">
            <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="start-page">Tell Companies House you have verified someone's identity</strong></a>.
            </p>
              </div>
</div>







         <h2 class="govuk-heading-l" id="other">Other ways to verify someone’s identity</h2>
 
         <p>You can use commercial identity providers or platforms to verify someone's identity.</p>
         
         <p> If you do this, you must make sure the provider or platform completes checks that meet the Companies House identity verification standard. You will still need to: </p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>keep copies of the documents the person provides to verify their identity for 7 years</li>
                      <li>tell us about the identity checks and documents that were used to verify the person's identity</li>
                      </ul>
          <p>We could suspend or stop an authorised agent if they use a provider that does not meet the standard.</p>


          

         <p>You can also ask people to <a href="">verify their identity directly with Companies House</a>. This is a free service. You will not need to see or keep copies of documents for people who verify using this service.</p>




         <h2 class="govuk-heading-l" id="cannot">What to do if you cannot verify someone’s identity</h2>
        <p>If you have not been able to verify a person’s identity, you must still keep records of the evidence you used and checks you completed for 7 years. </p>
        <p>It is the person’s responsibility to prove that they are who they say they are. They will need to get documents to be able to verify their identity for Companies House. </p>
        <p>They will need to verify their identity to do any of the following:</p>

             
          <ul class="govuk-list govuk-list--bullet">
            <li>file with Companies House</li>
            <li>be a director</li>
            <li>comply with legal requirements as person with significant control (PSC)</li>
            <li>apply to register as a Companies House authorised agent </li>
          </ul>
        <p>Read the <a href="">guidance on verifying your identity for Companies House</a> for more information. </p>



{% endblock %}
