{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start - Verify your identity 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-xl">
        How to meet Companies House identity verification standard 
      </h1>

<p class="govuk-body-m">Guidance on how to meet our identity verification standard when verifying someone’s identity for Companies House.</p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-1">
              Step 1: Ask for information about the person’s identity
              </a>
            </li>
            
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-2">
                Step 2: Get evidence to verify the person’s identity
              </a>
            </li>   
  

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-3">
                Step 3: Check the evidence is real 
              </a>
            </li>   



                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-5">
                Step 4: Check it is a real identity and it belongs to the person claiming it
              </a>
            </li>  

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#records">
               Step 5: Keep records of the identity checks
              </a>
            </li>  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-6">
               Step 6: Decide if you can verify the person’s identity 
              </a>
            </li>  
                 <!--       <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#other">
                Other ways to verify someone’s identity
              </a>
            </li>  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#cannot">
                What to do if you cannot verify someone’s identity
              </a>
            </li>   -->
         
          </ol>
        </nav>
      </aside>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

<p>When you verify someone’s identity for Companies House, you must meet our identity verification standard to comply with your legal responsibilities as an Authorised Corporate Service Provider (ACSP). This is also known as a Companies House authorised agent.</p>

<div class="govuk-inset-text">The steps in this guidance outline the minimum checks you must do. You must complete every step to verify someone’s identity to the required standard. </div>

<p>You can complete the checks remotely, or in person. You can also use commercial identity verification providers or platforms to complete the checks for you. </p>



<!--<p>
  If you use a commercial identity verification provider or platform, you must be satisfied that the provider or platform completes all of the required steps to meet the standard. If they only complete some, you’ll need to do the other steps yourself. 
</p> -->

<p>If you use a commercial provider or platform, it is still for you to decide if the required information a person provides you with is true. You must:</p>

<ul class="govuk-list govuk-list--bullet">

  <li>be satisfied that the provider or platform completes all of the required steps to meet the standard – if they only complete some, you’ll need to do the other steps yourself</li>
  <li>be able to explain and evidence why you have concluded that the steps they have taken are appropriate</li>
</ul>

<!--
<p>It is for you to decide if the required information a person provides you with is true. If you use a commercial provider or platform, you must be able to explain why you have concluded that the steps they have taken are appropriate. You must be able to evidence this if we ask for more information about the checks.</p> -->
  
  


   <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    If your identity checks do not meet the required standard, we could suspend or stop your business from acting as an authorised agent.
  </strong>
</div> 
    
        <h2 class="govuk-heading-l" id="step-1">Step 1: Ask for information about the person </h2>


    <p>The person will need to give you their:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>full name and any former names</li>
              <li>date of birth</li>
              <li>home address</li>
              <li>address history for the last 12 months</li>
              <li>email address</li>
            </ul>  
   


      <h2 class="govuk-heading-l" id="step-2">Step 2: Get evidence to verify the person’s identity</h2>

      <p>You’ll need to ask to see documents as evidence to verify the person's identity.</p>

      <p>You will need to keep copies of the documents for 7 years from the date you complete the identity checks.</p>

      <p>You will not need to submit copies when you tell us you've verified someone's identity. However, we will ask for information about the documents. For the documents that have them, you'll need to give the:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>document reference number, or equivalent</li>
              <li>expiry date, if the document has one</li>
              <li>country of issue, if the document has one</li>
            </ul>

     <!-- <p>There are 2 options to do this, you must use option 1 if you can. The evidence you need to ask for will depend on which option you use.  
        The following options 
 </p> -->


<!--
      <div class="govuk-inset-text">
  You cannot use documents that have expired to verify someones identity. However, the person will not need to verify again if a document expires after you have completed identity checks.
</div>

      <p>Where we've included an issuing country or authority for a document, you cannot accept a foreign equivalent.</p>

 -->

      <h3 class="govuk-heading-m" id="docs">Documents that can be used as evidence</h2>

      <p>There are 2 options for checking identity documents. The documents you can use as evidence will depend on which option you use.</p> 
      <p>Whichever option you use, you must still complete all of the steps in this guidance.</p>


<p>You cannot use as evidence:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>documents that have expired (we specify where there are exceptions to this)</li>
              <li>a foreign equivalent of a document, if we've specified an issuing country or authority</li>
            </ul>
    <p>The person will not need to verify again if a document expires after you have completed the identity checks.</p>


      <h4 class="govuk-heading-s">Option 1</h4>

<div class="govuk-inset-text">
  You must only use option 1 if you are using identification document validation technology (IDVT) that can validate the cryptographic features of the document.  
</div>

 <p>Cryptographic features of identity documentation are security features that correctly identify the person or organisation that issued the documentation. </p>

      <p>The person will need to provide <strong>1 of the following documents</strong>. They can provide:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a biometric or machine readable passport, or an Irish passport card – these can be up to 6 months expired if identity checking technology can still validate the cryptographic features</li>
              <li>a UK, Channel Islands, Isle of Man and EU photocard driving licence (full or provisional)</li>
              <li>an identity card with biometric information from the EU, Norway, Iceland or Liechtenstein</li>
              <li>a UK biometric residence permit (BRP) – these can be up to 18 months expired</li>
              <li>a UK biometric residence card (BRC)</li>
              <li>a UK Frontier Worker permit </li>
            </ul>

            <p>If you’re using technology to do all the checks in this guidance, you must be able to evidence it has completed every step. </p>


      <h4 class="govuk-heading-s">Option 2</h4>
<div class="govuk-inset-text">
  You must use option 2 if the documents are being checked by a person, either remotely or in person. You must be satisfied that the process you use is sufficient to validate the documents provided.
</div>
     
      <p>The person being verified will need to provide <strong>2 documents in total</strong>. They must provide <strong>either</strong>:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>2 documents from group A</li>
              <li>1 document from group A, and 1 document from group B </li>
              </ul>

          <p>If the person you're verifying does not live in the UK, they must provide at least one government issued document. </p>

   <p><strong>Group A</strong> documents they can provide are: </p>


            <ul class="govuk-list govuk-list--bullet">
              <li>passport or Irish passport card – these can be up to 18 months expired</li>
              <li>identity card with biometric information from the EU, Norway, Iceland or Liechtenstein</li>
              <li>UK biometric residence permit (BRP) – these can be up to 18 months expired</li>
              <li>UK biometric residence card (BRC)</li>
              <li>UK accredited PASS card</li>
              <li>UK or EU driver digital tachograph card</li>
              <li>UK, Channel Islands, Isle of Man and EU photocard driving licence (full or provisional)</li>
              <li>UK HM Forces ID Card </li>
              <li>UK HM Armed Forces Veteran Card </li>
              <li>UK Frontier Worker permit </li>
              <li>photographic work permit (government issued) </li>
              <li>photographic immigration document </li>
              <li>photographic visa </li>
              <li>UK, Channel Islands and Isle of Man firearms licence </li>
              <li>another type of <a target="_blank" href="https://www.consilium.europa.eu/prado/en/prado-start-page.html">photographic ID listed on PRADO (opens in a new tab)</a> - such as a National Identity Card (Pakistan), crew member certificate (South Africa), or Permanent Resident Card (USA)</li>
            </ul>

            <p><strong>Group B</strong> documents they can provide are: </p>



            <ul class="govuk-list govuk-list--bullet">
              <li>birth or adoption certificate </li>
              <li>marriage or civil partnership certificate </li>
              <li>non-photographic immigration document</li>
              <li>non-photographic visa</li> 
              <li>non-photographic work permit</li>
              <li>bank or building society statement </li>
              <li>UK local authority or social housing rental agreement – this must be for the person’s current address </li>
              <li>mortgage statement – this must be for the person’s current address</li>
              <li>UK council tax statement – this must be for the person’s current address</li>
              <li>utility bill – this must be for the person’s current address</li>

            </ul>
      <p>You will not need to provide a document reference number, expiry date, or country of issue for documents from group B.</p>


      <h2 class="govuk-heading-l" id="step-3">Step 3: Check the evidence is real</h2>


    <!--  <p>If you're using technology to check evidence, you must make sure the information held in the electronic chip matches the information on the document. </p> -->
      <p>If the evidence is being checked by a person, they must be trained in detecting false documents by a specialist training provider. This could be any organisation that follows the Home Office best practice guide.  </p>

<p>You must: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>check identity documents for signs of tampering and query if there are any signs of damage to a document – especially if it’s in an area where personal details are shown</li>
  <li>contact the issuing authority or another authoritative source to check if you have concerns a document </li>
  <li>contact the relevant embassy if you have concerns about a document issued by a country outside of the UK  </li>
  </ul>





      
      <h2 class="govuk-heading-l" id="step-4" >Step 4: Check it is a real identity and it belongs to the person claiming it</h2>

     <p>You’ll need to check that: </p>
           <ul class="govuk-list govuk-list--bullet">
            <li>the documents confirm the person's name and date of birth</li>
  <li>the cryptographic features on the document match the information provided by the person, if you're using IDVT to check the document </li> 
            <li>the person physically matches the photo that is on, or goes with the document </li>
<li>they are a real person, if you’re verifying them remotely – you’ll need to clearly see their face to compare it with the photo that is on the identity document</li>
          </ul>

          <p>To lower the risk of you accepting a synthetic identity, you should ask to see additional documentation if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the identity documents they’ve provided do not confirm their address history for the last 12 months</li>
             <li>they have changed their name         
              </li>
              </ul>
        <p>If they cannot provide documentation that confirms their address history or a name change, consider whether to continue verifying their identity. </p>
        <p>To make sure the identity belongs to a real person, you should ask to see evidence of activity you would expect. For example, you could check: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a bank or credit card statement for recent transactions </li>
          <li>utility or council tax bills, sent to the person’s home address </li>
          <li>if their passport has been used recently or over time
            </li>
            </ul>
   <!--   <h2 class="govuk-heading-l" id="copies" >Make copies of the identity documents</h2>

 <p>You do not need to submit copies of the documents you use to verify their identity. However, you must keep copies of the documents for 7 years from the date you complete the identity checks.</p>
  
  <p>When you tell us you've verified someone's identity, you'll need to tell us which identity documents you used. For each document, you'll need to give the:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>document reference number, or equivalent</li>
                    <li>expiry date, if the document has one</li>
                    <li>country of issue, if the document has one</li>
                    </ul>


      <h2 class="govuk-heading-l" id="step-5">Check the person’s identity has existed over time</h2>

      <p>The following steps will help you to confirm the identity has existed over time. This will lower the risk of you accepting: </p>
             <ul class="govuk-list govuk-list--bullet">
                <li>a fake identity</li>
                <li>an identity that belongs to someone who has died</li>
              </ul> -->




 
          <h2 class="govuk-heading-l" id="records" >Step 5: Keep records of the identity checks</h2>

          
          <p>You must keep records of all the evidence and information you used to verify someone’s identity. You must keep these for 7 years from the date you complete their identity verification.</p>
          <p>This includes: </p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>copies of the documents you checked</li>
            <li>evidence of the identity checks you complete</li>
            <li>records of any failed verification attempts</li>
            </ul>

      <h2 class="govuk-heading-l" id="step-6" >Step 6: Decide if you can verify the person’s identity </h2>
      <p>You must decide if you are satisfied the person is who they claim to be and you’ve been able to verify them to the required standard. </p>
      
      <h3 class="govuk-heading-m" >If you can verify their identity</h3>

      <p>You’ll need to use our online service to:</p> 
                          <ul class="govuk-list govuk-list--bullet">
                            <li>tell us the person’s details</li>
                            <li>tell us which documents you used to verify their identity</li>
                            <li>give details from the identity documents</li>
                            <li>confirm you have completed checks to verify their identity to the required standard</li>
                          </ul>
   

 <div class="ch-info-panel">


  <div class="govuk-panel__body">
      <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="start-page">Tell Companies House you have verified someone's identity</strong></a>.
      </p>
        </div>
</div>
   
      <h3 class="govuk-heading-m" >If you cannot verify their identity</h3>




        <p>If you have not been able to verify a person’s identity, you must still keep records of the evidence you used and checks you completed for 7 years. </p>
        <p>It is the person’s responsibility to prove that they are who they say they are. They will need to get documents to be able to verify their identity for Companies House. </p>
        <p>They will need to verify their identity to do any of the following:</p>

             
          <ul class="govuk-list govuk-list--bullet">
            <li>file with Companies House</li>
            <li>be a director</li>
            <li>comply with legal requirements as person with significant control (PSC)</li>
            <li>apply to register as a Companies House authorised agent </li>
          </ul>
        <p>Read the <a href="">guidance on verifying your identity for Companies House</a> for more information. </p>



{% endblock %}
