{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner_alpha.html" %}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      {{ govukWarningText({
        text: "This prototype is being actively worked on - things might break or change very quickly",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m" id="authScreens">Murals for Register as an Authorised Corporate Service Provider (ACSP) </h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href=""></a></p>




      <h2 class="govuk-heading-m govuk-!-padding-top-4">
        Prototypes
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col">User Research</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v2/index">V2</a>
            </td>
            <td class="govuk-table__cell">
              May 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
            <td class="govuk-table__cell">
              <a target="_blank" href="" class="govuk-link govuk-link--no-visited-state"></a>
            </td>    
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v1/index">V1</a>
            </td>
            <td class="govuk-table__cell">
              April 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Tested
              </strong>
            </td>
            <td class="govuk-table__cell">
              <a target="_blank" href="https://app.mural.co/invitation/mural/companieshouse8589/1681280977248?sender=ejames5948&key=0d97b32f-c776-4173-a522-bd4bdead891c" class="govuk-link govuk-link--no-visited-state">Mural (opens in a new tab)</a>
            </td>
          </tr>
        </tbody>
      </table>

     



{% endblock %}
