{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner_alpha.html" %}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      {{ govukWarningText({
        text: "This prototype is being actively worked on - things might break or change very quickly",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m" id="authScreens">Murals</h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://app.mural.co/invitation/mural/companieshouse8589/1674141024210?sender=ejames5948&key=2e9f9c77-c184-43ce-92ed-39508254a70a">Flows in mural (opens in a new tab)</a></p>


      <h2 class="govuk-heading-m govuk-!-padding-top-4">
        Prototypes
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col">User Research</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <!-- add-remove members of the ACSP -->

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v4/index">V4</a>
            </td>
            <td class="govuk-table__cell">
              July TBC
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
            <td class="govuk-table__cell">
              <a target="_blank" href="">Mural TBA (opens in a new tab)</a>
            </td>    
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v3/index">V3</a>
            </td>
            <td class="govuk-table__cell">
              14 June 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Tested
              </strong>
            </td>
            <td class="govuk-table__cell">
              <a target="_blank" href="https://app.mural.co/invitation/mural/companieshouse8589/1686730123745?sender=ejames5948&key=6b955ec9-ba9d-4e11-b0c2-77152ffa2f15">Mural TBA (opens in a new tab)</a>
            </td>    
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v2/index">V2</a>
            </td>
            <td class="govuk-table__cell">
              May 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Tested
              </strong>
            </td>
            <td class="govuk-table__cell">
              <a target="_blank" href="https://app.mural.co/invitation/mural/companieshouse8589/1684855573070?sender=ejames5948&key=23fe2673-8bde-44c4-9bb3-ba5ee7916a15" class="govuk-link govuk-link--no-visited-state">Mural (opens in a new tab)</a>
            </td>    
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v1/index">V1</a>
            </td>
            <td class="govuk-table__cell">
              April 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Tested
              </strong>
            </td>
            <td class="govuk-table__cell">
              <a target="_blank" href="https://app.mural.co/invitation/mural/companieshouse8589/1681280977248?sender=ejames5948&key=0d97b32f-c776-4173-a522-bd4bdead891c" class="govuk-link govuk-link--no-visited-state">Mural (opens in a new tab)</a>
            </td>
          </tr>
        </tbody>
      </table>

     



{% endblock %}
