{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers before sending your application – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


     
        <h1 class="govuk-heading-l">Your updates</h1> 

        <div class="govuk-inset-text">
          The following updates are pending until you submit this filing, and we accept it.
        </div>


      <!-- Sole traders -->

      {% if (data['prototype-set-up'] === "sole-trader")%}

      <h2 class="govuk-heading-m">Your details</h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        {% if data['name-has-been-updated'] == true %}
        <div class="govuk-summary-list__row ">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] }} {{ data['middle-name'] }} {{ data['last-name'] }}


            <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
           
     
        <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
            </li>
          </ul>
          </dd>
        </div>


        {% endif %} 

        {% if data['location-has-been-updated'] == true %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where you live
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['home'] }}

            <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
           
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
                </li>
              </ul>
            

        

        </div>
        {% endif %} 

        {% if data['business-name-has-been-updated'] == true %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['businessName'] }} 


            <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
           
        <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
            </li>
          </ul>
          </dd>
        </div>



        {% endif %} 
      <!--  <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business sector 
          </dt>
          <dd class="govuk-summary-list__value">
            Auditors, insolvency practitioners, external accountants and tax advisers
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> business sector</span>
            </a>
          </dd>
        </div> -->


        {% if data['cor-address-has-been-updated'] == true %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            15 New Road
            <br>Cardiff
            <br>Wales
            <br> CF5 1BR
    


          <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
           
     </dd>
          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
              </li>
            </ul>
            </dd>
          </div>




        {% endif %} 

        {% if data['email-has-been-updated'] == true %}

   
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence email address
          </dt>
          <dd class="govuk-summary-list__value">
            newemail@address.co.uk
             <!-- Pending tag -->

             </dd>

             <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
                </li>
              </ul>
              </dd>
         

        </div>
  
        {% endif %} 

        
      </dl>
      





      {% if data['aml-1-has-been-removed'] == true %}
      
      
      <h2 class="govuk-heading-m">Remove Anti-Money Laundering (AML) details</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Association of Accounting Technicians
          </dt>
          <dd class="govuk-summary-list__value">

        87654321

        <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Ended on 18 September 2025</p> 
          </dd>

          <dd class="govuk-summary-list__actions">
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">

              <a href="#">
                Cancel
                <span class="govuk-visually-hidden"> Association of Chartered Certified Accountants details</span>
              </a>
            </dd>
          </dd>
          
        </div>

        {% endif %}

        {% if data['aml-2-has-been-removed'] == true %}
      

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Association of Chartered Certified Accountants
        </dt>
        <dd class="govuk-summary-list__value">

         554-6325-4555

         <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Started on 18 September 2025</p> 
         

        </dd>
        <dd class="govuk-summary-list__actions">
          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">

            <a href="#">
              Cancel
              <span class="govuk-visually-hidden"> Association of Chartered Certified Accountants details</span>
            </a>
          </dd>
        </dd>
        
      </div>
      {% endif %}


      </dl>

       {% if data['new-aml-details'] == true %}


      <h2 class="govuk-heading-m">Add Anti-Money Laundering (AML) details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
       <!-- AML details 3 - New AML details -->

       <dt class="govuk-summary-list__key">
        Association of Chartered Certified Accountants
      </dt>
      <dd class="govuk-summary-list__value">
        
        554-6325-4555
      
      </dd>


         <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
            </li>
          </ul>
        </div>
      </dd>
      
 
 
 
 
       {% endif %}

   



      </dl>

    <!--   <p class="govuk-body  govuk-!-margin-bottom-9">
       <a href="#" class="govuk-link">An another Anti-Money Laundering (AML) details </a>
      </p> -->

 
      




    
    
    
      <!-- Limited companies, LLPs or LPs -->

       {% elseif ((data['prototype-set-up'] === "limited")) %}


      <h2 class="govuk-heading-m">Company details</h2>


   
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% if data['business-name-has-been-updated'] == true %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            MORRIS ACCOUNTING LTD
          </dd>
           <dd class="govuk-summary-list__actions">
            <a href="#">
              Update
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> 
        </div>
     
      {% endif %}

      {% if data['registered-office-address-has-been-updated'] == true %}

        <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
            Registered office address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
         <dd class="govuk-summary-list__actions">
            <a href="#">
              Update
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> 
        </div>

          
      {% endif %}


      {% if data['cor-address-has-been-updated'] == true %} 

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Update
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> 
        </div>

     
 {% endif %}

 {% if data['email-has-been-updated'] == true %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence email address
          </dt>
          <dd class="govuk-summary-list__value">
            james@morrisa<br>ccounting.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Update
              <span class="govuk-visually-hidden"> correspondence email address</span>
            </a>
          </dd>
        </div>

        {% endif %}

        
      </dl>



      <!-- LTD AML -->
       


      {% if data['aml-1-has-been-removed'] == true %}
      
      
      <h2 class="govuk-heading-m">Remove Anti-Money Laundering (AML) details</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Association of Accounting Technicians
          </dt>
          <dd class="govuk-summary-list__value">

        87654321

        <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Ended on 18 September 2025</p> 
          </dd>

          <dd class="govuk-summary-list__actions">
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">

              <a href="#">
                Cancel
                <span class="govuk-visually-hidden"> Association of Chartered Certified Accountants details</span>
              </a>
            </dd>
          </dd>
          
        </div>

        {% endif %}

        {% if data['aml-2-has-been-removed'] == true %}
      

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Association of Chartered Certified Accountants
        </dt>
        <dd class="govuk-summary-list__value">

         554-6325-4555

         <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Started on 18 September 2025</p> 
         

        </dd>
        <dd class="govuk-summary-list__actions">
          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">

            <a href="#">
              Cancel
              <span class="govuk-visually-hidden"> Association of Chartered Certified Accountants details</span>
            </a>
          </dd>
        </dd>
        
      </div>
      {% endif %}


      </dl>

       {% if data['new-aml-details'] == true %}


      <h2 class="govuk-heading-m">Add Anti-Money Laundering (AML) details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
       <!-- AML details 3 - New AML details -->

       <dt class="govuk-summary-list__key">
        Association of Chartered Certified Accountants
      </dt>
      <dd class="govuk-summary-list__value">
        
        554-6325-4555
      
      </dd>


         <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
            </li>
          </ul>
        </div>
      </dd>
      
 
 
 
 
       {% endif %}

   



      </dl>







      <!-- **** non-registrable partnerships **** -->
      {% elseif ((data['prototype-set-up'] === "partnerships")) %}


      <h2 class="govuk-heading-m">Business details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">



 

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          {% if data['name-has-been-updated'] == true %}
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['first-name'] }} {{ data['middle-name'] }} {{ data['last-name'] }}
  
  
              <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
             
       
          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
              </li>
            </ul>
            </dd>
          </div>
  
  
          {% endif %} 
  
          {% if data['location-has-been-updated'] == true %}
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where you live
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['home'] }}
  
              <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
             
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
                  </li>
                </ul>
              
  
          
  
          </div>
          {% endif %} 
  
          {% if data['business-name-has-been-updated'] == true %}
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['businessName'] }} 
  
  
              <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
             
          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
              </li>
            </ul>
            </dd>
          </div>
  
  
  
          {% endif %} 
          {% if data['registered-office-address-has-been-updated'] == true %}

          <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
              Business address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
                </li>
              </ul>
              </dd>
          </div>
  
            
        {% endif %}
  
  
          {% if data['cor-address-has-been-updated'] == true %}
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              15 New Road
              <br>Cardiff
              <br>Wales
              <br> CF5 1BR
      
  
  
            <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Changed on 18 September 2025</p>  
             
       </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
                </li>
              </ul>
              </dd>
            </div>
  
  
  
  
          {% endif %} 
  
          {% if data['email-has-been-updated'] == true %}
  
     
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence email address
            </dt>
            <dd class="govuk-summary-list__value">
              newemail@address.co.uk
               <!-- Pending tag -->
  
               </dd>
  
               <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
                  </li>
                </ul>
                </dd>
           
  
          </div>
    
          {% endif %} 
  
          
        </dl>
        
  
  
  
  
  
        {% if data['aml-1-has-been-removed'] == true %}
        
        
        <h2 class="govuk-heading-m">Remove Anti-Money Laundering (AML) details</h2>
  
  
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Association of Accounting Technicians
            </dt>
            <dd class="govuk-summary-list__value">
  
          87654321
  
          <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Ended on 18 September 2025</p> 
            </dd>
  
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
  
                <a href="#">
                  Cancel
                  <span class="govuk-visually-hidden"> Association of Chartered Certified Accountants details</span>
                </a>
              </dd>
            </dd>
            
          </div>
  
          {% endif %}
  
          {% if data['aml-2-has-been-removed'] == true %}
        
  
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Association of Chartered Certified Accountants
          </dt>
          <dd class="govuk-summary-list__value">
  
           554-6325-4555
  
           <p class="govuk-body govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-2">Started on 18 September 2025</p> 
           
  
          </dd>
          <dd class="govuk-summary-list__actions">
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
  
              <a href="#">
                Cancel
                <span class="govuk-visually-hidden"> Association of Chartered Certified Accountants details</span>
              </a>
            </dd>
          </dd>
          
        </div>
        {% endif %}
  
  
        </dl>
  
         {% if data['new-aml-details'] == true %}
  
  
        <h2 class="govuk-heading-m">Add Anti-Money Laundering (AML) details</h2>
  
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
         <!-- AML details 3 - New AML details -->
  
         <dt class="govuk-summary-list__key">
          Association of Chartered Certified Accountants
        </dt>
        <dd class="govuk-summary-list__value">
          
          554-6325-4555
        
        </dd>
  
  
           <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="pages/name">Edit<span class="govuk-visually-hidden"> name</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a>
              </li>
            </ul>
          </div>
        </dd>
        
   
   
   
   
         {% endif %}
  
     
  
  
  
        </dl>
  












        {% endif %}
     
      <form class="form" action="check-updates" method="post">
      {{ govukRadios({
        name: "checkBeforeSubmit",
        fieldset: {
          legend: {
            text: "Do you need to tell us about any other updates?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-padding-top-5"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, I need to add more"
          },
          {
            value: "no",
            text: "No, submit the update"
          }
        ]
      }) }}

  




        <!-- if changes have been made -->
        <div class="govuk-button-group">

          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="pages/cancel-interrupt">Cancel</a>
        </div>




      </form>

    </div>
  </div>
{% endblock %}

