{% extends "layouts/main.html" %}

{% block pageTitle %}
Application submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Update an authorised agents details with Companies House
{% endset %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'


}) }}
<div class="govuk-width-container">
<ul id="navigation" class="mobile-hidden">
  <li class="user" id="signed-in-user">
    {{ data['email'] }}
  </li>
  <li>
    <a href="/register/sign-out" id="user-signout">Sign out</a>
  </li>
</ul>
</div>

<div class="govuk-width-container">
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-padding-top-3">
</div>

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>
</div>



{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Authorised agent update submitted</h1>
        <div class="govuk-panel__body">
          Reference number:<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <strong>agent@morrisaccounting.com</strong> and <strong>admin@morrisaccounting.com</strong> with your reference number.
      </p>



    






      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll email to let you know if your update has been accepted or rejected. </p>

      <p>We'll process the update as soon as possible. This is a new service, so we're not able to tell you exactly how long this will take.</p>

      <p>If it's accepted, we'll update the authorised agent details. If it's rejected, we'll email you to let you know what to do next. </p>

<p><a href="https://find-update-company-info.herokuapp.com/authorised-agent-v6/acsp-home-super-admin-tiles">Go back to the authorised agent account</a>.</p>

        <h2 class="govuk-heading-m ">Help us to improve this service</h2>

        <p class="govuk-body">
          This is a new service. <a href="#" class="govuk-link">Complete our quick survey (opens in a new tab)</a> to help us improve it.
        </p>


    

    <div  style="color: govuk-colour('red')"> 
        <ul class=" govuk-!-static-margin-top-9 govuk-list govuk-list govuk-colour('light-grey') ">
          <li>
            <a style="color: #b1b4b6;" class="govuk-list govuk-!-font-size-14" href="email-acsp-application-received">Email confirmation of the submission</a>
          </li>
          <li>
            <a style="color: #b1b4b6;" class="govuk-list govuk-!-font-size-14" href="email-acsp-registration-accepted-release-1">Accepted email</a>
          </li> 
          <li>
            <a style="color: #b1b4b6;" class="govuk-list govuk-!-font-size-14" href="email-acsp-registration-rejected">Request email</a>
          </li> 
        </ul>
      </div>


    </div>
  </div>

{% endblock %}






