{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}

{% set serviceName %}

{% endset %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Authorised agent: update received  </h1>
   

<!--<table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Business name</th>
            <td class="govuk-table__cell">MORRIS ACCOUNTING LTD</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Company number</th>
            <td class="govuk-table__cell">02050399</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Application reference</th>
            <td class="govuk-table__cell">HDJ2123F</td>
          </tr>
        </tbody>
      </table> -->


      <p class="govuk-body">We’ve received your request to update the authorised agent's details for MORRIS ACCOUNTING LTD. Authorised agents are also known as Authorised Corporate Service Providers (ACSPs). </p> <p>
        We'll send you an email within 10 working days to let you know if your application has been accepted or rejected.
        </p>


      <h2 class="govuk-heading-m">If we accept the update </h2>
      <p>We’ll update the details on the authorised agent account.   
        </p>



      <h2 class="govuk-heading-m">If we reject the update </h2>
      
      <p>We'll explain why we've rejected it and what you can do next.</p>

      <!--

      <h2 class="govuk-heading-m">Help us to improve this service</h2>
      <p>Register as a Companies House authorised agent is a new service. Complete our quick survey to help us improve it: <a href="https://www.smartsurvey.co.uk/s/reg-as-acsp-email-app-received/">https://www.smartsurvey.co.uk/s/reg-as-acsp-email-app-received/</a></p>




    <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p> -->

      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">If you have a question or you think there has been a mistake, you can contact us.</p>
      <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
      </ul>


      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
        </li>
      </ul>


    </div>
    </div>


  </div>
</div>
{% endblock %}
