{% extends "layouts/main.html" %}

{% block pageTitle %}
You must be an account owner to use this service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You must be an account owner to use this service</h1>
    <p class="govuk-body">
      Only account owners for the authorised agent can update the agent's details or close the account. </p>
      <p>

        <p>You'll need to contact an account owner and ask them to use the service. Or, you can ask them to change your role to make you an account owner.</p>
        <p> 
Go to <a href="">Manage users</a> to view the account owners for MORRIS ACCOUTING LTD.</p>

        
  
  
  </div>
</div>
{% endblock %}

