{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers before sending your application – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      <form class="form" action="update-form" method="post">


     
     <!-- <div class="govuk-inset-text">
        Any updates you make to an authorised agent's details are pending until you’ve submitted this filing, and we’ve accepted it.
      </div> -->


      <!-- Sole traders -->

      {% if (data['choose-update'] === "name") %}

       <!--- Name -->


          <h1 class="govuk-heading-l">What is your name?</h1>


          {{ govukInput({
            label: {
              text: "First name"
            },
            classes: "govuk-input--width-20",
            id: "first-name",
            name: "first-name",
            type: "first-name",
            value: first-name,
            autocomplete: "first-name",
            spellcheck: false
          }) }}


          {{ govukInput({
            label: {
              text: "Middle names"
            },

            classes: "govuk-input--width-20",
            id: "middle-name",
            value: middle-name,
            name: "middle-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Last name"
            },
            classes: "govuk-input--width-20",
            id: "last-name",
            name: "last-name",
            type: "last-name",
            value: last-name,
            autocomplete: "last-name",
            spellcheck: false
          }) }}
        

          <div class="govuk-inset-text">
          We'll show this on the public list of authorised agents, unless you have a different business name that you trade under. 
          </div>

  
      <!--- Where you live  -->

      {% elseif (data['choose-update'] === "home-address")%}


      {% call govukFieldset({
        legend: {
          text: "What is your home address?",
          classes: "govuk-fieldset__legend--l"
        }
      }) %}

      {{ govukInput({
        label: {
          text: "UK postcode"
        },
        id: "cor-postcode",
        classes: "govuk-input--width-10",
        name: "cor-postcode"
      }) }}


      {{ govukInput({
        label: {
          text: "Property name or number"
        },
        hint: {
          text: "For example, 'The Mill', '116' or 'Flat 37a'"
        },
        id: "cor-number",
        classes: "govuk-input--width-10",
        name: "cor-number"
      }) }}



      
        {{ govukButton({
          text: "Find address",
          classes: "govuk-button--secondary"
        }) }}

 
        {% endcall %}



  

      <!-- Correspondence address -->
      {% elseif (data['choose-update'] === "cor-address")%}

      {% call govukFieldset({
        legend: {
          text: "What is the correspondence address?",
          classes: "govuk-fieldset__legend--l"
        }
      }) %}

      {{ govukInput({
        label: {
          text: "UK postcode"
        },
        id: "cor-postcode",
        classes: "govuk-input--width-10",
        name: "cor-postcode"
      }) }}


      {{ govukInput({
        label: {
          text: "Property name or number"
        },
        hint: {
          text: "For example, 'The Mill', '116' or 'Flat 37a'"
        },
        id: "cor-number",
        classes: "govuk-input--width-10",
        name: "cor-number"
      }) }}



      
        {{ govukButton({
          text: "Find address",
          classes: "govuk-button--secondary"
        }) }}

 
        {% endcall %}

     <div class="govuk-inset-text">
  <h2 class="govuk-heading-m">What information we’ll show on the public list of authorised agents </h2>
  <p>We’ll show the town or city of the correspondence address. </p>
</div>

         <!-- AML details -->
      {% elseif (data['choose-update'] === "aml")%}


        <h1 class="govuk-heading-l">Anti-Money Laundering (AML) registration details</h1>

        {{ govukSelect({
          id: "aml",
          name: "AML supervisory body",
          label: {
            text: "AML supervisory body"
          },
          items: [
            {
              value: "published",
              text: "Association of Chartered Certified Accountants (ACCA)"
            },
            {
              value: "updated",
              text: "Association of Accounting Technicians (AAT)",
              selected: true
            }
          ]
        }) }}
  
        {{ govukInput({
          label: {
            text: "AML membership number",
            classes: "govuk-label--s"
          },
          id: "aml-number",
          name: "aml-number"
        }) }}
  
        {{ govukButton({
          text: "Add another AML supervisory body",
          classes: "govuk-button--secondary"
        }) }}

        
     <div class="govuk-inset-text">
  <h2 class="govuk-heading-m">What information we’ll show on the public list of authorised agents </h2>
  <p>We'll show the names of the supervisory bodies the business is registered with.  </p>
</div>
      
      <!-- Business name -->


      {% elseif (data['choose-update'] === "business-name") %}


      {{ govukInput({
        label: {
          text: "What is the business name?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "business-name",
        name: "businessName"
      }) }}

   
          <div class="govuk-inset-text">
          We'll show this on the public list of authorised agents. 
          </div>

    
      <!-- Limited companies, LLPs or LPs -->

      {% elseif (data['prototype-set-up'] === "partnerships") and (data['choose-update'] === "business-name")  %}


      {{ govukInput({
        label: {
          text: "Business name",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "business-name",
        name: "businessName"
      }) }}


      {% else %}

      {{ govukInput({
        label: {
          text: "Company name",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "business-name",
        name: "businessName"
      }) }}






      {% endif %}


  

      



    <!-- if changes have been made -->

    <p> 
        {{ govukButton({
          text: "Continue"
        }) }}
      </p>


      </form>

    </div>
  </div>
{% endblock %}
