{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="details-for-closing" method="post">
    <span class="govuk-caption-xl" >MORRIS ACCOUNTING LTD</span>

      <h1 class="govuk-heading-l">
        What will happen when you close the authorised agent account
      </h1>

    <!--  <p class="govuk-body">You should only continue if MORRIS ACCOUNTING LTD no longer needs to be an authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP). </p> -->



  


      
      <p>MORRIS ACCOUNTING LTD will no longer be an authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).</p>
      

      <h2 class="govuk-heading-m">You will not be able to use services for authorised agents</h2>

      <p class="govuk-body">MORRIS ACCOUNTING LTD will no longer be able to:</p>

      <p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
  <li>verify people's identities for Companies House</li>
  <li>file on behalf of clients</li>
</ul>



<h2 class="govuk-heading-m">We'll publish information to confirm</h2>
            
      <p>We’ll publish the: </p>
     
            <ul class="govuk-list govuk-list--bullet">
                <li>authorised agent’s name </li>
                <li>status, to show it is no longer an authorised agent </li>
                <li>date it stopped being an authorised agent</li>
              </ul>





<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Confirm if you have read and understood what happens when you close
      </h1>
    </legend>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I understand that closing the authorised agent account means that MORRIS ACCOUNTING LTD will no longer be an Authorised Corporate Service Provider (ACSP).
        </label>
      </div>
    </div>
  </fieldset>
</div>
  



<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href:"confirm-closing"
  }) }}

  <a class="govuk-link" href="#">Cancel</a>
</div>





 
  </form>
  </div>
{% endblock %}
