{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="confirm-closing" method="post">

      <h1 class="govuk-heading-l">
        Confirm you want to close your Authorised corporate service provider (ACSP)
      </h1>



      <p class="govuk-body">Morris Accounting Limited will be closed ... </p>


      




    {{ govukWarningText({
      text: "Warning message ... ",
      iconFallbackText: "Warning"
    }) }}





    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href:"confirmation"
      }) }}

      <a class="govuk-link" href="#">Cancel</a>
    </div>


    





    </div>

 
  </form>
  </div>
{% endblock %}
