{% extends "layouts/main.html" %}

{% block pageTitle %}
Application submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'


}) }}
<div class="govuk-width-container">
<ul id="navigation" class="mobile-hidden">
  <li class="user" id="signed-in-user">
    {{ data['email'] }}
  </li>
  <li>
    <a href="/register/sign-out" id="user-signout">Sign out</a>
  </li>
</ul>
</div>

<div class="govuk-width-container">
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-padding-top-3">
</div>

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>
</div>



{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Authorised agent account closed</h1>
        <div class="govuk-panel__body">
          Your reference:<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <strong>james@morrisaccounting.com</strong> and <strong>admin@morrisaccounting.com</strong>.
      </p>



  




      <h2 class="govuk-heading-m">What happens next</h2>

<p>We’ll publish information to show MORRIS ACCOUNTING LTD is no longer an authorised agent. We'll publish the:</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>authorised agent’s name</li> 
        <li>status</li>
        <li>date it stopped being an authorised agent </li>
      </ul></p>

   <!--   <h2 class="govuk-heading-m">Check if there is anything else you need to do</h2>
      <p>Closing an authorised agent does not close the business. </p>  -->

      <h2 class="govuk-heading-m">If you also need to close the business</h2>
      <p>Closing an authorised agent account does not close the business. You still need to follow the necessary steps to do this. For example, if it's a limited company you may need to <a href="">apply to get the company struck off</a>, or if you're a sole trader you need to <a href="">tell HMRC you've stopped trading</a>.</p>

      <!--
      <p>If MORRIS ACCOUNTING LTD is a business that is no longer active or trading, you must check if close it. For example, if it's a limited company you'll need to close it, or if you're a sole trader you need tell HMRC you've stopped trading.</p>

     <p>   If you want to end the Anti-Money-Laundering (AML) supervision, you'll need to contact all AML supervisory bodies you are currently registered with. </p> -->

      <div  style="color: govuk-colour('red')"> 
        <ul class=" govuk-!-static-margin-top-9 govuk-list govuk-list govuk-colour('light-grey') ">
          <li>
            <a style="color: #b1b4b6;" class="govuk-list govuk-!-font-size-14" href="email-account-closed">Email account closed</a>
          </li>
      
        </ul>
      </div>

    
{% endblock %}






