{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        Close a Companies House authorised agent
      </h1>

      <p class="govuk-body">Use this service to tell us if MORRIS ACCOUNTING LTD no longer needs to be a Companies House authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).  </p>


   <h2 class="govuk-heading-m">What you'll need</h2>  

      <p>You'll need to confirm a declaration to show you understand what happens when you have closed the authorised agent.</p>
        

        <p>Before you continue, you should:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check if you need agreement from anyone else in the business - this could someone who has the role of a director or equivalent</li>
        <li>let any other users who have been added to the account know they will no longer be able to access the authorised agent account or services</li>
      </ul>



{{ govukWarningText({
  text: "Closing the authorised agent is permanent and cannot be reversed. If the business needs to to act as an authorised agent in future, it will need to complete a new application to register.",
  iconFallbackText: "Warning"
}) }}

<!--
      <h2 class="govuk-heading-m">What happens when you close an authorised agent</h2>  



      <p class="govuk-body">We will close the online authorised agent account. You and any other users that have been added to the account will not be able to: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>file on behalf of clients </li>
        <li>verify people’s identity for Companies House</li>
        
      </ul>


    <p>We’ll also publish a notice to show the agent has stopped being an authorised agent. We'll publish the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name of the business</li>
        <li>date the status changed</li>

  </ul> -->

 
    
      {{ govukButton({
        text: "Continue",
        isStartButton: true,
        href:"closing-details"
      }) }}


      <p><a href="guidance-ACSPs">Read the guidance about closing a Companies House authorised agent</a>.  




    </div>

 
  </form>
  </div>
{% endblock %}
