{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        Close the Companies House authorised agent
      </h1>


<p>If you close the authorised agent, MORRIS ACCOUNTING LTD will no longer be registered as an authorised agent with Companies House.  This is also known as an Authorised Corporate Service Provider (ACSP).  
</p>


<div class="govuk-inset-text">

  <p class="govuk-body">Before you close the authorised agent, you must <a href="">check if there are other users who have been added to account</a>. You'll need to tell them they will not be able to access the account, or use services for the authorised agent.</p>
  </div>



      <!-- Version 1
          <p>This will permanently close the authorised agent account for MORRIS ACCOUNTING LTD. </p>



         <h2 class="govuk-heading-m">Before you close the authorised agent</h2>  

<p>You only should continue to close the authorised agent if you are sure that MORRIS ACCOUNTING LTD no longer needs to file with Companies House on behalf of clients.</p>
      <p>If there are other users who have been added to the account, you should make sure they know they will no longer be able to access the account or services for the authorised agent. </p>   -->







        




      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href:"closing-details"
        }) }}
      
        <a class="govuk-link" href="#">Cancel</a>
      </div>


    





    </div>

 
  </form>
  </div>
{% endblock %}
