{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="update-start-page" method="post">

      <h1 class="govuk-heading-l">
        Update an authorised agents details
      </h1>



      <p class="govuk-body">Use this service to tell us about an update to the authorise agent details.</p>

      {{ govukWarningText({
        text: "Companies House must be told of any updates to the authorised agents details.",
        iconFallbackText: "Warning"
      }) }}


      <h2 class="govuk-heading-m">What you'll need</h2>  

      <p class="govuk-body">You’ll need to tell us if their are updates to: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>business address</li>
          <li>home address</li>
        </ul>


      <p>It takes around 5 minutes to use this service.</p>






      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}

 <!--     <h2 class="govuk-heading-m">Before you start</h2>  

      <p class="govuk-body">You must verify the identity of the person you are telling us about. The checks you carry out to verify someone’s identity must meet the Companies House identity verification standard.</p> -->
   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>

 <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->

  </form>
  </div>
{% endblock %}
