{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="before-idv" method="post">


      <h1 class="govuk-heading-l">
        You need to verify your identity
      </h1>


       <!-- Content previously on this page. 

        Review content alongside the start page
      -->



      <!-- <div class="ch-info-panel">
        <h2 class="govuk-panel__title">
         <img src="/public/images/identity-alt.png" alt="" height="50"> -->


            <p class="govuk-body">Before you can register an authorised agent, you need to prove your identity. You should only do this if you are the right person to register the business.  </p>
          

          <h2 class="govuk-heading-m">Who can register an authorised agent</h2>

          <p class="govuk-body">This will depend on the type of business you’re registering. If you are registering a:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>limited company - you must be a director</li>
            <li>limited partnership (LP) - you must be a general partner</li>
            <li>limited liability partnership (LLP) - you must be a member of the partnership </li>
            <li>partnership - you must be a member of the partnership </li>
            <li>sole trader - you must be the sole trader </li>
            </ul>
          

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other types of business
    </span>
  </summary>
  <div class="govuk-details__text">
              <h3 class="govuk-heading-s">Unincorporated body</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise you must be a member of the governing body. </p>

                            <h3 class="govuk-heading-s">Corporate body</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise you must be the equivalent of a director. </p>
              
  </div>
</details>

          <button class="govuk-button govuk-!-static-margin-top-2" data-module="govuk-button">
            Verify your identity
          </button>

      </form>

    </div>
  </div>

{% endblock %}
