{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Register an authorised agent: application approved",
        html: buttonHref
      }) }}
    <!--  <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Company number</th>
            <td class="govuk-table__cell">00445790</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Company name</th>
            <td class="govuk-table__cell"> MORRIS ACCOUNTING LTD </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name </th>
            <td class="govuk-table__cell">James Morris </td>
          </tr>
        </tbody>
      </table> -->


      <p class="govuk-body">We have approved your application and registered MORRIS ACCOUNTING LTD (02050399) as a Companies House authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).</p>

      <div class="highlight-box">

      <p class="govuk-body">The authorised agent number for MORRIS ACCOUNTING LTD is: <strong>06254821</strong></p>

      <p class="govuk-body">Keep the number secure and do not share it with anyone outside of your organisation. You will need this for paper filings.</p>


      </div>
      <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
      
            <p class="govuk-body">We’ll add your business to the public list of authorised agents. </p>

      
      <p class="govuk-body">You can sign in to your Companies House account to access your authorised agent account: <a href="sign-in" class="govuk-link govuk-link--no-visited-state">https://find-and-update.company-information.service.gov.uk</a> </p>
      
      <p>Here you can:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>add people who work for the business to the account</li>

              <li>update the authorised agent details</li>
              <li>file online as an authorised agent</li>
              <li>tell us you have verified someone's identity</li>
            </ul>


      <h2 class="govuk-heading-s">Your responsibilities as an authorised agent </h2>
      <p>You, or another member of the authorised agent must: </p>
                  <ul class="govuk-list govuk-list--bullet">
                <li>tell us if there is a change to your Anti-Money Laundering (AML) registration status, or the supervisory body details you have provided – you must do this within 14 days</li>
                <li>provide more information to Companies House if requested – this could be about your business, or records of your filings with Companies House</li>
                <li>keep records of any evidence used to verify someone’s identity for 7 years, if you verify the identity of clients for Companies House</li>

            </ul>


      <h3 class="govuk-heading-s">What we'll show on the public register</h2>
      
      <p>On the public list of authorised agents, we’ll show the: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>authorised agent’s name</li>
        <li>date the agent registered </li>
        <li>agent’s registration status</li>
        <li>town or city of the business address, or the correspondence address if the agent is a sole trader</li>
        <li>names of all AML supervisory bodies the agent is registered with </li>
      </ul> 

      <p>When you or another member of the authorised agent verifies someone's identity for Companies House, we'll show the:  </p>
            <ul class="govuk-list govuk-list--bullet">
        <li>authorised agent’s name</li>
        <li>names of all AML supervisory bodies the agent is registered with </li>
            </ul>






     

    <!--  <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p> -->
      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">If you have a question about your submission, you can contact us.</p>
      <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
      </ul>


      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
        </li>
      </ul>

            <h3 class="govuk-heading-m">Get news and updates</h3>
      <p class="govuk-body">Sign up to our email newsletters</a> to keep up to date with news and updates from Companies House: <a href="https://public.govdelivery.com/accounts/UKCH/subscriber/new" class="govuk-link govuk-link--no-visited-state">https://public.govdelivery.com/accounts/UKCH/subscriber/new</a></p>
    </div>
    </div>


  </div>
</div>
{% endblock %}
