{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body">Use this service to register your business as an authorised agent with Companies House. Authorised agents are also known as Authorised Corporate Service Providers (ACSPs). </p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Who needs to register as an authorised agent?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>From XX DATE, individuals or organisations will need to register as a Companies House authorised agent to (do any of the following):</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>file on behalf of clients</li>
      <li>form companies or registrable partnerships on behalf of clients</li>
      <li>verify someone's identity for Companies House</li>
    </ul>
    <p>To apply, the business must already be registered with a UK Anti-Money Laundering (AML) supervisory body. For example, accountants, solicitors or company formation agents.</p>
  </div>
</details>

      <p class="govuk-body">To apply, you must be one of the following for the business you are registering:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>director</li>
        <li>general partner</li>
        <li>member</li>
        <li>sole trader</li>
      </ul>


<div class="govuk-inset-text">
  You'll be able to add other people who work for the business once you have registered.
</div>


  <div class="ch-info-panel">
      <!-- <h2 class="govuk-panel__title">
          <img src="/public/images/identity-alt.png" alt="" height="50">

        

        </h2> -->

        <div class="govuk-panel__body">
          <h2 class="govuk-heading-m">Before you start </h2>

            <p class="govuk-body">You’ll need to verify your identity for Companies House before you can use this service.</p>
            <p class="govuk-body"> <img src="/public/images/ons-icon-arrow-circle-medium.png" alt="" height="40">   <strong><a class="govuk-link govuk-link--no-visited-state" href="/v7/verify-identity-prototype">
              Verify your identity for Companies House</a></strong>.
            </p>

        </div>
      </div>

<br>
      <h2 class="govuk-heading-m">What you'll need</h2>  



     <p>You’ll need: </p> 
        <ul class="govuk-list govuk-list--bullet">
          <li> to give details about your business, or yourself if you're a sole trader</li>
          <li>the names of all Anti-Money Laundering (AML) supervisory bodies the business is registered with - you must have been registered for at least 2 weeks</li>
          <li>the AML membership numbers or IDs </li>
          <li>to pay the £XX registration fee using a credit or debit card</li>

        </ul>
        <div class="govuk-inset-text">
          We'll confirm the AML supervisory body has the same name and membership number for your business. Contact your AML supervisory body if you need to check your details before you start.
        </div>

    





        
 

    <!--  <p><a href="/v2/guidance-ACSPs">Read the guidance for more information about what you’ll need</a>.</p> -->
     
    <!--  {{ govukInsetText({
        html: '
             <p>You must be the person who is responsible for AML compliance within the business to use this service. This is known as a relevant officer.</p>'
      }) }} -->

    <p>This service will time out if you do not use it for 60 minutes. You can save your answers and resume your application later. </p>

      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}


      <p><a href="guidance-ACSPs">Read the guidance about applying to register as a Companies House authorised agent</a>.  




<!--<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
            <p>We will not show any information you provide on the public register. </p> -->
   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>

 <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->

  </form>
  </div>
{% endblock %}
