{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body">Use this service to register your business as an authorised agent with Companies House. Authorised agents are also known as Authorised Corporate Service Providers (ACSPs). </p>


<p>In the future, businesses such as solicitors, accountants or company formation agents, will need to register as a Companies House authorised agent to do any of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>file on behalf of clients</li>
      <li>verify people's identity for Companies House</li>
    </ul>





    <h2 class="govuk-heading-m">Who can apply</h2>

      <p class="govuk-body">To register your business as an authorised agent, you must be one of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>director</li>
        <li>general partner</li>
        <li>member</li>
        <li>sole trader</li>
      </ul>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     If you’re registering an unincorporated body or corporate body
    </span>
  </summary>
  <div class="govuk-details__text">
              <h3 class="govuk-heading-s">Unincorporated body</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be a member of the governing body. </p>

                            <h3 class="govuk-heading-s">Corporate body</h3>
              <p>If the body is managed by its members, you must be a member of the body. Otherwise, you must be the equivalent of a director. </p>
              
  </div>
</details>

      <p class="govuk-body">
  If other people who work for the business need to file with Companies House, you can add them to the authorised agent account once you've registered. 
</p>


      <h2 class="govuk-heading-m">Verify your identity</h2>  

     <!-- <div class="ch-info-panel">
        <div class="govuk-panel__body">
          <h3 class="govuk-heading-s">Verify your indentity </h3> -->

            <p class="govuk-body">You’ll need to verify your identity for Companies House before you can use this service.</p>
            <p class="govuk-body"> <img src="/public/images/ons-icon-arrow-circle-medium.png" alt="" height="40">   <strong><a class="govuk-link govuk-link--no-visited-state" href="/v7/verify-identity-prototype">
              Verify your identity for Companies House</a></strong>.
            </p>
          

       
        <h2 class="govuk-heading-m">What information you need to submit </h2>


<p class="govuk-body">You’ll need to:</p>


        <ul class="govuk-list govuk-list--bullet">
          <li>give details about the business, or yourself if you’re a sole trader</li>
          <li>tell us which Anti-Money Laundering (AML) supervisory bodies the business is registered with</li>
          <li>give the AML membership numbers or IDs</li>
          <li>pay the £XX registration fee</li>
        </ul>

       <div class="govuk-inset-text">
 <p class="govuk-body">Read the <a href="">guidance on applying to register as an authorised agent</a> to check you have everything you need to apply.</p>
</div>

        </ul>


    





        
 

    <!--  <p><a href="/v2/guidance-ACSPs">Read the guidance for more information about what you’ll need</a>.</p> -->
     
    <!--  {{ govukInsetText({
        html: '
             <p>You must be the person who is responsible for AML compliance within the business to use this service. This is known as a relevant officer.</p>'
      }) }} -->

      <p class="govuk-body">This service will time out if you do not use it for 60 minutes. You can save your answers and resume your application later. </p>

      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}

<!--
      <h2 class="govuk-heading-m">After you are registered as an authorised agent</h2>


      <p class="govuk-body">We’ll create an authorised agent account, which you’ll be able to access when you sign in to your Companies House account.</p>

      <p>If other people who work for your business need to access services for agents, you'll be able to add them to the authorised agent account.

</p> -->











<!--<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
            <p>We will not show any information you provide on the public register. </p> -->
   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>

 <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->

  </form>
  </div>
{% endblock %}
