{% extends "layouts/main.html" %}

{% block pageTitle %}
Company not active – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You cannot register this company</h1>
    <p class="govuk-body">
      You cannot register [COMPANY NAME] as an authorised agent because it has been dissolved, or is in the process of being dissolved.
    </p>
    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/company-restoration-guide#process-to-restore-a-company-name-to-the-register-of-companiesbrbr">Read the Company Restoration Guide</a> to find out more about restoring a company name to the register. </p>
    <p class="govuk-body">If this is the wrong company, you will need to <a class="govuk-link" href="start-page">start the application again</a>.
    </p>

        <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact us</a> if you have any questions.
    </p>

 <!--   <p class="govuk-body"> <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact us</a> if you have any questions.</p> -->
  </div>
</div>
{% endblock %}

