{% extends "layouts/main.html" %}

{% block pageTitle %}
What you’ll need to do as a Companies House authorised agent – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
      <h1 class="govuk-heading-l">
        Your responsibilities as an authorised agent 
      </h1>


      <p class="govuk-body">Once registered, you or another member of the authorised agent must:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>tell us if there is a change to your Anti-Money Laundering (AML) registration status, or the supervisory body details you have provided – you must do this within 14 days</li>
          <li>provide more information to Companies House if requested – this could be about your business, or records of your filings with Companies House</li>
          <li>keep records of any evidence used to verify someone’s identity for 7 years, if you verify the identity of clients for Companies House </li>
        </ul>

       <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Your business may be suspended or deauthorised from acting as a Companies House authorised agent if you do not comply with the requirements. You could also get a fine or face criminal prosecution.
  </strong>
</div>

      <!--<p class="govuk-body">If you are no longer responsible for AML compliance, the agent must give details for a new relevant officer. </p> -->
    <!--  <p class="govuk-body">Authorised agents must keep records of any identity verification checks they complete. We may ask for more information on individual checks if we need to.</p> 

      <p>[Placeholder content - subject to secondary legislation.]</p> -->

      <form class="form" action="terms-and-conditions" method="post">

        
      
        <button class="govuk-button" data-module="govuk-button">Accept and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
