{% extends "layouts/main.html" %}

{% block pageTitle %}
What you’ll need to do as a Companies House authorised agent – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
      <h1 class="govuk-heading-l">
        Your responsibilities as an authorised agent 
      </h1>


      <p class="govuk-body">1. You must tell us if there is a change to any of the information you have provided in this application. If there are changes to your AML registration status or details, you must tell us within 14 days.</p>


      <p class="govuk-body">2. If we request it, you must provide more information about: </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>your filings with Companies House</li>
                <li>identity checks, if you have verified someone’s identity for Companies House</li>
              </ul>
      
       <p class="govuk-body">3. If you verify the identity of clients for Companies House, you must keep records of the checks you carry out. You must keep these for 7 years from the date you complete the checks.</p>


       <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
   We could suspend or stop your business from acting as an authorised agent if you do not comply with the requirements. You could also get a fine or face criminal prosecution.
  </strong>
</div>

      <!--<p class="govuk-body">If you are no longer responsible for AML compliance, the agent must give details for a new relevant officer. </p> -->
    <!--  <p class="govuk-body">Authorised agents must keep records of any identity verification checks they complete. We may ask for more information on individual checks if we need to.</p> 

      <p>[Placeholder content - subject to secondary legislation.]</p> -->

      <form class="form" action="terms-and-conditions" method="post">

        
      
        <button class="govuk-button" data-module="govuk-button">Accept and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
