{% extends "layouts/main.html" %}

{% block pageTitle %}
What are you registering as? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="type-of-business-other" method="post">


        {% if (((data['registering-as'] === "sole-trader"))  or  ((data['registering-as'] === "partnership-not-ch")))  %}


          {% if (data['first-name'] == "") and (data['last-name'] == "") %}

          <span class="govuk-caption-l"> James Morris </span>

          {% else %}

          <span class="govuk-caption-l">{{data['first-name']}} {{data['middle-name']}} {{data['last-name']}}</span>

          {% endif %}
        
          {% else %}

          <span class="govuk-caption-l">MORRIS ACCOUNTING LTD </span>



          {% endif %}
          

{{ govukRadios({
          name: "business-type",
          fieldset: {
            legend: {
              text: "Which other sector do you work in?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
          {
            value: "ea",
            text: "Estate agents"
          },
          {
            value: "dealers",
            text: "High value dealers"
          },
          {
            value: "casino",
            text: "Casinos"
          } 
          ]
        }) }}



        <!--
        {{ govukRadios({
          name: "business-type",
          fieldset: {
            legend: {
              text: "What business sector is it in?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "auditors",
              text: "Auditors, insolvency practitioners, external accountants and tax advisers"
            },
            {
              value: "indep",
              text: "Independant legal professionals"
            },
            {
              value: "trust",
              text: "Trust or company service providers"
            },
            {
              value: "ci",
              text: "Credit institutions"
            },
            {
              value: "fi",
              text: "Financial institutions"
            },
    
            {
              value: "ea",
              text: "Estate agents"
            },
            {
              value: "dealers",
              text: "High value dealers"
            },
            {
              value: "casino",
              text: "Casinos"
            } 
          ]
        }) }} -->

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
        
          <a class="govuk-link" href="type-of-business">Go back to main business sector list </a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
